<template>
    <div>
        <el-table :data="allTaskList">
            <el-table-column label="项目类型">
                <template slot-scope="scope">
                    {{categories[scope.row.category]}}
                </template>
            </el-table-column>
            <el-table-column property="name" label="任务名称" show-overflow-tooltip></el-table-column>
            <el-table-column property="initiator" label="发起人" show-overflow-tooltip></el-table-column>
            <el-table-column property="count" label="需求量"></el-table-column>
            <el-table-column label="项目介绍">
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" @click="downNeeds(scope.row.detail_url)">需求下载</el-button>
                </template>
            </el-table-column>
            <el-table-column label="项目状态">
                <template slot-scope="scope">
                    {{scope.row.is_delete == true? '招标结束': '正在招标'}}
                </template>
            </el-table-column>
            <el-table-column label="项目测试">
                <template slot-scope="scope">
                    <el-button type="danger" size="mini" @click="onLabelTest(scope.row.id)">试标</el-button>
                </template>
            </el-table-column>
            <el-table-column label="报价" width="150">
                <template slot-scope="scope">
                    <el-button type="warning" size="mini" @click="onQuote(scope.row.id)">开始报价</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="page" :page-size="page_size"
                layout="prev, pager, next" :total="total">
            </el-pagination>
        </div>
        <!-- 试标弹框 -->
        <el-dialog center title="分配标注员/审核员" :visible.sync="testVisible" width="40%" @close="resetForm('ruleForm')">
            <el-form status-icon :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">
                <el-form-item label="分配标注员" prop="markPerson">
                    <el-select v-model="ruleForm.markPerson" placeholder="请选择标注员">
                        <el-option v-for="item in markList" :key="item.id" :label="item.username" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="分配审核员" prop="auditPerson">
                    <el-select v-model="ruleForm.auditPerson" placeholder="请选择审核员">
                        <el-option v-for="item in auditList" :key="item.id" :label="item.username" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer">
                <el-button @click="testVisible = false">取 消</el-button>
                <el-button type="primary" @click="onSubPerson('ruleForm')">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 报价弹框 -->
        <el-dialog center title="报价详情" :visible.sync="quoteVisible" @close="resetForm('quoteForm')">
            <el-form status-icon :model="quoteForm" ref="quoteForm" :rules="quoteRules" label-width="120px" width="80%">
                <el-form-item label="报价详情" prop="price">
                    <el-input type="textarea" :rows="3" placeholder="请输入报价详情，不超过300字" maxlength="300" v-model="quoteForm.price">
                    </el-input>
                    <el-tag type="danger">提示：请填写承接总量、计价单位（框、有效时长等）、单价（元）、负责人姓名、联系方式、整体合计报价。</el-tag>
                </el-form-item>
                <el-form-item label="交付日期" prop="finishTime">
                    <el-date-picker v-model="quoteForm.finishTime" type="date" placeholder="请选择日期"
                        format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd" :picker-options="pickerOptions">
                    </el-date-picker>
                    <el-tag type="danger">提示：请注意截止时间，按期提供报价，请保证价格的准确及有效性，不允许事后更改，请慎重出价。通知中标后一周内下单，同步签订合同。</el-tag>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="quoteVisible = false">取 消</el-button>
                <el-button type="primary" @click="onSubQuote('quoteForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import {
        labelTest,
        subTest,
        subPrice
    } from '@/api/projectBidding';
    import {
        mapGetters
    } from 'vuex'
    import {
        categories
    } from './types'
    export default {
        data() {
            return {
                categories: categories,
                project_id: '', //项目id
                markList: [],
                auditList: [],
                testVisible: false,
                ruleForm: {
                    markPerson: '',
                    auditPerson: ''
                },
                rules: {
                    markPerson: [{
                        required: true,
                        message: '请选择标注员',
                        trigger: 'change'
                    }],
                    auditPerson: [{
                        required: true,
                        message: '请选择审核员',
                        trigger: 'change'
                    }],
                },
                quoteVisible: false,
                quoteForm: { //报价表单
                    price: '',
                    finishTime: ''
                },
                quoteRules: {
                    price: [{
                        required: true,
                        message: '请输入报价详情',
                        trigger: 'blur'
                    }],
                    finishTime: [{
                        required: true,
                        message: '请选择交付日期',
                        trigger: 'change'
                    }]
                },
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    },
                },
            }
        },
        computed: {
            ...mapGetters(['page', 'page_size', 'total', 'allTaskList'])
        },
        methods: {
            handleCurrentChange(val) {
                this.$store.commit('SET_PAGE', val);
                this.$store.dispatch('GetAllTask');
            },
            downNeeds(detail) {
                window.location.href = detail;
            },
            onLabelTest(id) {
                this.project_id = id;
                labelTest(id).then(res => {
                    this.markList = res.lis_mark;
                    this.auditList = res.lis_audit;
                    this.testVisible = true;
                }).catch(error => {
                    this.testVisible = false;
                    return false;
                });
            },
            onSubPerson(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.$confirm('提交后将不可修改, 是否继续?', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            type: 'warning'
                        }).then(() => {
                            subTest(this.project_id, this.ruleForm.markPerson, this.ruleForm
                                .auditPerson).then(res => {
                                this.$message({
                                    message: '提交成功！',
                                    type: 'success'
                                });
                                this.testVisible = false;
                            });
                        });
                    }
                });
            },
            onQuote(id) {
                this.project_id = id;
                this.quoteVisible = true;
            },
            onSubQuote(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        subPrice(this.project_id, this.quoteForm.price, this
                            .quoteForm.finishTime).then(res => {
                            this.$message({
                                message: '提交成功！',
                                type: 'success'
                            });
                            this.quoteVisible = false;
                        });
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields()
            }
        }
    }
</script>
<style scoped>
    .el-tag.el-tag--danger {
        width: 80%;
        height: auto;
        line-height: 22px;
        white-space: normal;
        margin-top: 10px;
    }
</style>