<template>
    <el-container>
        <el-main>
            <el-table :data="auditBiddingList">
                <el-table-column prop="header_name" label="会长名称">
                </el-table-column>
                <!-- <el-table-column prop="output" label="报价数量">
                </el-table-column> -->
                <el-table-column prop="finsh_time" label="交付日期">
                    <template slot-scope="scope">
                        {{scope.row.finsh_time | parseTime('{y}-{m}-{d}')}}
                    </template>
                </el-table-column>
                <el-table-column prop="price" label="报价详情" width="400px">
                </el-table-column>
                <el-table-column prop="test_score" label="试标正确率">
                </el-table-column>
                <el-table-column prop="history_grade" label="同类项目历史评级">
                </el-table-column>
                <el-table-column label="是否通过" width="200px">
                    <template slot-scope="scope">
                        <template>
                            <el-button type="primary" size="mini" @click="onPass(scope.row.id)">通过</el-button>
                            <el-button type="danger" size="mini" @click="onNotPass(scope.row.id)">不通过</el-button>
                        </template>
                    </template>
                </el-table-column>
            </el-table>
            <!-- 通过弹框 -->
            <el-dialog center title="批次分配" :visible.sync="assignVisible" width="40%">
                <el-form status-icon :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">
                    <el-form-item label="批次ID" prop="batch_id">
                        <el-input placeholder="请输入批次ID，正整数" v-model.number="ruleForm.batch_id" style="width: 70%;"></el-input>
                    </el-form-item>
                    <el-form-item label="二次审核员" prop="auditPerson">
                        <el-select v-model="ruleForm.auditPerson" multiple placeholder="请选择二审员" style="width: 70%">
                            <el-option v-for="item in auditList" :key="item.id" :label="item.username" :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-form>
                <div slot="footer">
                    <el-button @click="assignVisible = false">取 消</el-button>
                    <el-button type="primary" @click="onSubAssign('ruleForm')">确 定</el-button>
                </div>
            </el-dialog>
            <!-- 不通过弹框 -->
            <el-dialog center title="竞标失败" :visible.sync="failVisible" width="40%">
                <el-form status-icon :model="failForm" :rules="failRules" ref="failForm" label-width="120px">
                    <el-form-item label="不通过原因" prop="reason">
                        <el-input placeholder="请输入不通过原因，50字内" v-model.trim="failForm.reason" max-length="50"></el-input>
                    </el-form-item>
                </el-form>
                <div slot="footer">
                    <el-button @click="failVisible = false">取 消</el-button>
                    <el-button type="primary" @click="onSubFail('failForm')">确 定</el-button>
                </div>
            </el-dialog>
        </el-main>
    </el-container>
</template>
<script>
import { mapGetters } from 'vuex'
import { parseTime } from '@/utils';
import { validateInteger } from '@/utils/validate'
import { getTwoAudit, passAudit, notPassAudit } from '@/api/projectBiddingAdmin'
export default {
    name: 'auditBidding',
    data() {
        const validateNum = (rule, value, callback) => {
            if (validateInteger(value)[0]) {
            callback(new Error(validateInteger(value)[1]))
            } else {
            callback()
            }
        };
        return {
            project_id: this.$route.params.id,
            bidding_id: '',   //竞标id
            assignVisible: false,
            auditList: [],
            ruleForm: {
                batch_id: '',
                auditPerson: ''
            },
            rules: {
                batch_id: [{
                    required: true,
                    message: '请输入批次ID',
                    trigger: 'blur'
                    },{
                    validator: validateNum,
                    trigger: 'blur'
                }],
                auditPerson: [{
                    required: true,
                    message: '请选择二审员',
                    trigger: 'blur'
                }]
            },
            failVisible: false,
            failForm: {
                reason: ''
            },
            failRules: {
                reason: [{
                    required: true,
                    message: '请输入不通过原因',
                    trigger: 'blur'
                }]
            }
        }
    },
    computed: {
        ...mapGetters(['pageAdmin', 'page_size_admin', 'totalAdmin', 'auditBiddingList'])
    },
    created() {
        this.getAuditList();
    },
    methods: {
        getAuditList() {
            this.$store.dispatch('GetAuditBiddingList', this.project_id)
        },
        onPass(id) {
            this.bidding_id = id;
            this.assignVisible = true;
            getTwoAudit().then(res => {
                this.auditList = res.lis_two_audit;
            })
        },
        onSubAssign(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    passAudit(this.bidding_id, this.ruleForm.batch_id, this.ruleForm.auditPerson).then(() => {
                        this.$message({
                                message: '提交成功！',
                                type: 'success'
                            });
                            this.assignVisible = false;
                            this.getAuditList();
                    }).catch(() => {
                        this.assignVisible = false;
                    });
                }
            });
        },
        onNotPass(id) {
            this.bidding_id = id;
            this.failVisible = true;
        },
        onSubFail(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    notPassAudit(this.bidding_id, this.failForm.reason).then(() => {
                        this.$message({
                            message: '提交成功！',
                            type: 'success'
                        });
                        this.failVisible = false;
                        this.getAuditList();
                    }).catch(() => {
                        this.failVisible = false;
                    });
                }
            });
        }
    },
}
</script>
<style lang="scss">
    
</style>