<template>
    <div class="dialog-wrapper">
        <el-table :data="auditList">
            <el-table-column property="username" label="标注员姓名"></el-table-column>
            <el-table-column property="wait_audit" label="待审核数量"></el-table-column>
            <el-table-column property="one_audit" label="一审通过数量"></el-table-column>
            <el-table-column property="two_audit" label="二审通过数量"></el-table-column>
            <el-table-column property="assessor_name" label="审核员姓名"></el-table-column>
            <el-table-column label="操作" width="150">
                <template slot-scope="scope">
                       <el-button type="danger" size="mini" icon="el-icon-document-add" @click="audit(scope.row.id)">审核</el-button>
                </template>
            </el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="pagePersonal" :page-size="page_size_personal" layout="prev, pager, next" :total="totalPersonal">
            </el-pagination>
        </div>
        <!-- 抽检比例弹框 -->
        <el-dialog append-to-body title="抽检比例" :visible.sync="proportionVisible" width="30%" center>
        <el-form ref="form" :model="form" label-width="200px" label-position="left">
            <el-form-item label="请选择抽检比例(单位：%)">
                <el-input-number v-model="form.rate" :step="10" :min="10" :max="100"></el-input-number>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button type="primary" @click="subAudit()" size="mini">确 定</el-button>
        </span>
        </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import { page_category_route } from './types';
export default {
    props: ['category'],    
    data() {
        return {
            order_id: '',
            proportionVisible: false,
            form: {
                rate: 100
            }
        }
    },
    computed: {
        ...mapGetters(['pagePersonal', 'page_size_personal', 'totalPersonal', 'auditList'])
    },
    methods: {
        handleCurrentChange(val) {
            this.$store.commit('SET_PAGE', val);
            this.$store.dispatch('GetAuditList')
        },
        audit(id) {
            this.order_id = id;
            this.proportionVisible = true;
        },
        subAudit() {
            this.$router.push({
                name: page_category_route[this.category],
                params: {
                    id: this.order_id,
                    check_spot: this.form.rate,
                    flag: 2
                }
            })
        }
    },
}
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
@import "src/styles/mixin.scss";
    .dialog-wrapper {
        @include clearfix;
    }
</style>