<template>
    <div>
        <el-table :data="failTaskList">
            <el-table-column property="initiator" label="发起人"></el-table-column>
            <el-table-column property="category" label="项目类型">
                <template slot-scope="scope">
                    {{categories[scope.row.category]}}
                </template>
            </el-table-column>
            <el-table-column property="name" label="项目名称"></el-table-column>
            <el-table-column property="is_delete" label="项目状态">
                <template slot-scope="scope">
                    {{scope.row.is_delete == true? '招标结束': '正在招标'}}
                </template>
            </el-table-column>
            <el-table-column property="reason" label="竞标失败原因" width="400px"></el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="page" :page-size="page_size"
                layout="prev, pager, next" :total="total">
            </el-pagination>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { categories } from './types'
export default {
    data() {
        return {
           categories: categories
        }
    },
    computed: {
        ...mapGetters(['page', 'page_size', 'total', 'failTaskList'])
    },
    methods: {
        handleCurrentChange(val) {
            this.$store.commit('SET_PAGE', val);
            this.$store.dispatch('GetFailTask').then(res => {
                this.$store.commit('SET_FAILTASK_LIST', res.results);
            });
        },
    },
}
</script>