<template>
    <div>
        <el-table :data="finishList_personal">
            <el-table-column label="批次图像">
                <template slot-scope="scope" width="50px">
                    <img :src="scope.row.batch_image" width="50" height="50">
                </template>
            </el-table-column>
            <el-table-column label="批次名称" width="200px" show-overflow-tooltip>
                <template slot-scope="scope">
                    {{scope.row.batch_name}}
                    <!-- <el-tag type="danger" size="mini">{{batchAttr[scope.row.batch_attribute]}}</el-tag> -->
                </template>
            </el-table-column>
            <el-table-column property="batch_tijiao" label="已提交"></el-table-column>
            <el-table-column property="batch_audit" label="合格数量"></el-table-column>
            <el-table-column label="合格率">
                <template slot-scope="scope">
                    {{scope.row.pass_percent / 100 * 100}}%
                </template>
            </el-table-column>
            <el-table-column label="截止日期" width="100px">
                <template slot-scope="scope">
                    {{scope.row.batch_jiezhi | parseTime('{y}-{m}-{d}')}}
                </template>
            </el-table-column>
            <el-table-column label="工作类型">
                <template slot-scope="scope">
                    {{types[scope.row.idents]}}
                </template>
            </el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="pagePersonal" :page-size="page_size_personal" layout="prev, pager, next" :total="totalPersonal">
            </el-pagination>
        </div>
    </div>
</template>
<script>
import { types } from './types';
import { parseTime } from '@/utils';
import { mapGetters } from 'vuex';
export default {
    data() {
        return {
            types: types,
        }
    },
    computed: {
        ...mapGetters(['pagePersonal', 'page_size_personal', 'totalPersonal', 'finishList_personal'])
    },
    methods: {
        handleCurrentChange(val) {
            this.$store.commit('SET_PAGE', val);
            this.$store.dispatch('GetTaskListFinished')
        },
    },
}
</script>