<template>
    <div>
        <h3 class="notice-title"><i class="el-icon-s-flag"></i>&nbsp;&nbsp;系统公告
        </h3>
        <el-collapse accordion>
            <el-collapse-item v-for="(item, index) in noticeList" :key="index">
                <template slot="title" style="color: #409EFF;">
                    {{item.title}}
                </template>
                <span>发布时间：{{item.release_time | parseTime('{y}-{m}-{d}')}}</span>
                <div style="white-space: pre-wrap;">{{item.notice}}</div>
            </el-collapse-item>
        </el-collapse>
    </div>
</template>
<script>
    import {
        getNoticeList
    } from '@/api/personalCenter';
    export default {
        data() {
            return {
                noticeList: []
            }
        },
        created() {
            this.getNotice();
        },
        methods: {
            getNotice() {
                getNoticeList().then((res) => {
                    this.noticeList = res;
                }).catch();
            }
        },
    }
</script>
<style lang="scss" scoped>
    .notice-title {
        color: #F56C6C;
        line-height: 28px;

        .notice-pub {
            float: right;
            margin-right: 10px;
            padding: 8px;
        }
    }

    .del-btn {
        padding: 10px;
        float: right;
    }
</style>