<template>
    <div>
        <el-table :data="finishedTaskList">
            <el-table-column property="b_name" label="批次名称"></el-table-column>
            <el-table-column label="任务类型">
                <template slot-scope="scope">
                    {{categories[scope.row.category]}}
                </template>
            </el-table-column>
            <el-table-column label="开始时间">
                <template slot-scope="scope">
                    {{scope.row.start_time | parseTime('{y}-{m}-{d}')}}
                </template>
            </el-table-column>
            <el-table-column label="交付时间">
                <template slot-scope="scope">
                    {{scope.row.finsh_time | parseTime('{y}-{m}-{d}')}}
                </template>
            </el-table-column>
            <!-- <el-table-column property="price" label="单价"></el-table-column> -->
            <el-table-column property="count" label="批次总量"></el-table-column>
            <el-table-column property="test_score" label="项目测试评分"></el-table-column>
            <el-table-column property="bidding_grade_score" label="项目评级"></el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="page" :page-size="page_size"
                layout="prev, pager, next" :total="total">
            </el-pagination>
        </div>
    </div>
</template>
<script>
import { categories } from './types'
import {
    parseTime
} from '@/utils';
import {
    mapGetters
} from 'vuex'
export default {
    data() {
        return {
            categories: categories
        }
    },
    computed: {
        ...mapGetters(['page', 'page_size', 'total', 'finishedTaskList'])
    },
    methods: {
        handleCurrentChange(val) {
            this.$store.commit('SET_PAGE', val);
            this.$store.dispatch('GetFinishedTask');
        },
    },
}
</script>