<template>
    <div>
        <el-table :data="ongoingTaskList">
            <el-table-column property="b_name" label="批次名称"></el-table-column>
            <el-table-column label="邀请码">
                <template slot-scope="scope">
                    <el-tooltip effect="dark" :content="scope.row.mark_label" placement="top-start">
                        <el-button size="mini">标注</el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" :content="scope.row.audit_label" placement="top-start">
                        <el-button type="primary" size="mini">审核</el-button>
                    </el-tooltip>
                </template>
            </el-table-column>
            <el-table-column label="截止日期">
                <template slot-scope="scope">
                    {{scope.row.finsh_time | parseTime('{y}-{m}-{d}')}}
                </template>
            </el-table-column>
            <el-table-column property="output" label="承接量"></el-table-column>
            <el-table-column label="项目日志">
                <template slot-scope="scope">
                    <el-button type="primary" size="mini" @click="onHandleLog(scope.row.id)">提交</el-button>
                    <el-button type="warning" size="mini" @click="viewLog(scope.row.id)">查看</el-button>
                </template>
            </el-table-column>
            <el-table-column label="项目交付" width="200">
                <template slot-scope="scope">
                    <el-button slot="reference" type="danger" size="mini" @click="subProject(scope.row.id)">提交</el-button>
                    <!-- <el-popconfirm title="确定要提交项目？">
                        <el-button slot="reference" type="danger" size="mini" @onConfirm="subProject(scope.row.id)">提交</el-button>
                    </el-popconfirm> -->
                </template>
            </el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="page" :page-size="page_size"
                layout="prev, pager, next" :total="total">
            </el-pagination>
        </div>
        <!-- 提交日志弹框 -->
        <el-dialog center title="提交日志" :visible.sync="logVisible" width="40%">
            <el-form status-icon :model="ruleForm" ref="ruleForm" :rules="rules" label-width="120px" width="80%">
                <el-form-item label="产量" prop="output">
                    <el-input v-model.number="ruleForm.output" placeholder="请输入正整数" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="参与人数" prop="joinNum">
                    <el-input v-model.number="ruleForm.joinNum" placeholder="请输入正整数" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="报表类型" prop="journalType">
                    <el-radio v-model="ruleForm.journalType" label="1">日报</el-radio>
                    <el-radio v-model="ruleForm.journalType" label="2">周报</el-radio>
                </el-form-item>
                <el-form-item label="交付日期" prop="finishTime">
                    <el-date-picker v-model="ruleForm.finishTime" type="date" placeholder="请选择日期"
                        format="yyyy 年 MM 月 dd 日" value-format="yyyy-MM-dd" :picker-options="pickerOptions">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="logVisible = false">取 消</el-button>
                <el-button type="primary" @click="onSubLog('ruleForm')">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 查看日志弹框 -->
        <el-dialog title="项目日志" :visible.sync="dialogTableVisible" width="70%">
            <el-table :data="logData" max-height="320">
                <el-table-column property="output" label="产量"></el-table-column>
                <el-table-column property="join" label="参与人数"></el-table-column>
                <el-table-column property="journal" label="报表类型">
                    <template slot-scope="scope">
                        {{scope.row.journal == '1'? '日报': '周报'}}
                    </template>
                </el-table-column>
                <el-table-column prop="create_time" label="创建时间">
                    <template slot-scope="scope">
                        {{scope.row.create_time | parseTime('{y}-{m}-{d}')}}
                    </template>
                </el-table-column>
                <el-table-column prop="comment" label="反馈信息" width="320px"></el-table-column>
            </el-table>
        </el-dialog>
    </div>
</template>
<script>
    import {
        parseTime
    } from '@/utils';
    import {
        validateInteger
    } from '@/utils/validate'
    import {
        mapGetters
    } from 'vuex'
    import {
        subLog, submitProject
    } from '@/api/projectBidding'
    export default {
        data() {
            const validateNum = (rule, value, callback) => {
                if (validateInteger(value)[0]) {
                    callback(new Error(validateInteger(value)[1]))
                } else {
                    callback()
                }
            }
            return {
                logVisible: false,
                bidding_id: '',
                ruleForm: {
                    output: '',
                    joinNum: '',
                    journalType: '1',
                    finishTime: ''
                },
                rules: {
                    output: [{
                        required: true,
                        message: '请输入产量',
                        trigger: 'blur'
                    }, {
                        validator: validateNum,
                        trigger: 'blur'
                    }],
                    joinNum: [{
                        required: true,
                        message: '请输入参与人数',
                        trigger: 'blur'
                    }, {
                        validator: validateNum,
                        trigger: 'blur'
                    }],
                    journalType: [{
                        required: true,
                        message: '请选择报表类型',
                        trigger: 'change'
                    }],
                    finishTime: [{
                        required: true,
                        message: '请选择交付日期',
                        trigger: 'change'
                    }]
                },
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() < Date.now() - 8.64e7;
                    }
                },
                dialogTableVisible: false,
                logData: [],
            }
        },
        computed: {
            ...mapGetters(['page', 'page_size', 'total', 'ongoingTaskList'])
        },
        methods: {
            handleCurrentChange(val) {
                this.$store.commit('SET_PAGE', val);
                this.$store.dispatch('GetOngoingTask')
            },
            onHandleLog(id) {
                this.logVisible = true;
                this.bidding_id = id;
            },
            onSubLog(formName) {
                let query = {
                    output: this.ruleForm.output,
                    join: this.ruleForm.joinNum,
                    journal: this.ruleForm.journalType,
                    finish_time: this.ruleForm.finishTime,
                };
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        subLog(this.bidding_id, this.ruleForm.output, this.ruleForm.joinNum, this.ruleForm
                            .journalType, this.ruleForm.finishTime).then(() => {
                            this.$message({
                                message: '提交成功！',
                                type: 'success'
                            });
                            this.ruleForm = {
                                output: '',
                                joinNum: '',
                                journalType: '1',
                                finishTime: ''
                            };
                            this.logVisible = false;
                        }).catch(() => {
                            this.logVisible = false;
                        });
                    }
                })
            },
            viewLog(id) {
                this.dialogTableVisible = true;
                this.$store.dispatch('GetLogList', id).then(res => {
                    this.logData = res.results;
                });
            },
            subProject(id) {
                submitProject(id).then(() => {
                    this.$message({
                        message: '提交成功！',
                        type: 'success'
                    });
                    this.$store.dispatch('GetOngoingTask').then(res => {
                        this.$store.commit('SET_ONGOINGTASK_LIST', res.results);
                    });
                }).catch();
            }
        }
    }
</script>