<template>
    <div>
        <el-table :data="underwayList_personal">
            <el-table-column label="批次图像">
                <template slot-scope="scope" width="50px">
                    <img :src="scope.row.batch_image" width="50" height="50">
                </template>
            </el-table-column>
            <el-table-column label="批次名称" width="200px" show-overflow-tooltip>
                <template slot-scope="scope">
                    {{scope.row.batch_name}}
                    <el-tag type="danger" size="mini">{{batchAttr[scope.row.batch_attribute]}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column property="batch_tijiao" label="已提交"></el-table-column>
            <el-table-column property="batch_shengyu_count" label="剩余数量"></el-table-column>
            <el-table-column property="weitongguo_count" label="未通过"></el-table-column>
            <el-table-column label="截止日期" width="100px">
                <template slot-scope="scope">
                    {{scope.row.batch_jiezhi | parseTime('{y}-{m}-{d}')}}
                </template>
            </el-table-column>
            <el-table-column label="工作类型">
                <template slot-scope="scope">
                    {{types[scope.row.idents]}}
                </template>
            </el-table-column>
            <el-table-column label="操作" width="200">
                <template slot-scope="scope">
                    <template v-if="scope.row.idents == '2' || scope.row.idents == '3'">
                    <el-tooltip effect="dark" content="开始审核" placement="top-start">
                       <el-button type="warning" size="mini" icon="el-icon-document-add" circle @click="beginAudit(scope.row.b_id, scope.row.batch_page_category)"></el-button>
                    </el-tooltip>
                    </template>
                    <template v-else>
                     <el-tooltip effect="dark" content="查看任务" placement="top-start">
                        <el-button type="primary" size="mini" icon="el-icon-view" circle @click="checkTask(scope.row.id, scope.row.batch_page_category)"></el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" content="未通过修改" placement="top-start">
                       <el-button type="danger" size="mini" icon="el-icon-edit" circle @click="notPassTask(scope.row.id, scope.row.batch_page_category, scope.row.weitongguo_count)"></el-button>
                    </el-tooltip>
                    <el-tooltip effect="dark" content="开始任务" placement="top-start">
                       <el-button type="warning" size="mini" icon="el-icon-document-add" circle @click="beginTask(scope.row.id, scope.row.batch_page_category, scope.row.batch_shengyu_count)"></el-button>
                    </el-tooltip>
                    </template>
                </template>
            </el-table-column>
        </el-table>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="pagePersonal" :page-size="page_size_personal" layout="prev, pager, next" :total="totalPersonal">
            </el-pagination>
        </div>
        <!-- 查看任务弹框 -->
        <el-dialog title="查看任务" status-icon :visible.sync="checkTaskVisible" @close="resetForm('ruleForm')">
            <el-form :model="ruleForm" ref="ruleForm" :rules="rules">
                <el-form-item label="任务时间：" prop="dateTime">
                    <el-date-picker
                        v-model="ruleForm.dateTime"
                        type="datetimerange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期" value-format="yyyy-MM-dd HH:mm:ss">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="checkTaskVisible = false">取 消</el-button>
                <el-button type="primary" @click="subCheck('ruleForm')">确 定</el-button>
            </div>
        </el-dialog>
        <!-- 审核弹框 -->
        <el-dialog title="审核明细" status-icon :visible.sync="auditVisible" width="50%">
            <auditTable :category="category"></auditTable>
        </el-dialog>
    </div>
</template>
<script>
    import { types, batchAttr, page_category_route } from './types';
    import { parseTime } from '@/utils';
    import { mapGetters } from 'vuex';
    import { checkTaskList } from '@/api/personalCenter'
    import auditTable from './auditTable'
    export default {
        components: {
            auditTable
        },
        data() {
            return {
                types: types,
                batchAttr: batchAttr,
                order_id: '',
                category: '',   //任务类型
                checkTaskVisible: false,
                ruleForm: {
                    dateTime: ''
                },
                rules: {
                    dateTime: [{
                        required: true,
                        message: '请选择日期时间',
                        trigger: 'change'
                    }]
                },
                auditVisible: false,
            }
        },
        computed: {
            ...mapGetters(['pagePersonal', 'page_size_personal', 'totalPersonal', 'underwayList_personal'])
        },
        methods: {
            handleCurrentChange(val) {
                this.$store.commit('SET_PAGE', val);
                this.$store.dispatch('GetTaskListUnderway')
            },
            beginTask(id, category, count) {
                if(count == 0) {
                    this.$message({
                        message: '当前没有任务可做！',
                        type: 'error'
                    });
                    return false;
                }
                this.$router.push({
                    name: page_category_route[category],
                    params: {
                        id: id,
                        flag: 0
                    }
                })
            },
            checkTask(id, category) {
                this.checkTaskVisible = true;
                this.order_id = id;
                this.category = category;
            },
            subCheck() {
                let start_time = this.ruleForm.dateTime[0];
                let end_time = this.ruleForm.dateTime[1];
                let checkInfo = {
                    order_id: this.order_id,
                    start_time: start_time,
                    end_time: end_time
                } 
                this.$store.dispatch('CheckTaskList', checkInfo).then(() => {
                    this.$router.push({
                        name: page_category_route[this.category],
                        params: {
                            id: this.order_id,
                            flag: 1
                        }
                    })
                });
            },
            notPassTask(id, category, count) {
                if(count == 0) {
                    this.$message({
                        message: '当前没有任务可做！',
                        type: 'error'
                    });
                    return false;
                }
                 this.$store.dispatch('GetNotpassList', id).then(() => {
                    this.$router.push({
                        name: page_category_route[category],
                        params: {
                            id: id,
                            flag: 3
                        }
                    })
                });
            },
            beginAudit(id, category) {
                this.auditVisible = true;
                this.category = category;
                this.$store.dispatch('GetAuditList', id)
            },
            resetForm(formName) {
                this.$refs[formName].resetFields()
            }
        }
    }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
    .el-button.is-circle {
        padding: 10px;
    }
</style>