<template>
    <el-container>
        <el-main>
            <el-table :data="projectManageList">
                <el-table-column prop="guildname" label="公会名称" width="150px">
                </el-table-column>
                <el-table-column prop="b_name" label="批次名称" width="150px">
                </el-table-column>
                <el-table-column prop="canyu_count" label="参与人数">
                </el-table-column>
                <el-table-column prop="start_time" label="开始日期">
                    <template slot-scope="scope">
                        {{scope.row.start_time | parseTime('{y}-{m}-{d}')}}
                    </template>
                </el-table-column>
                <el-table-column prop="finsh_time" label="交付日期">
                    <template slot-scope="scope">
                        {{scope.row.finsh_time | parseTime('{y}-{m}-{d}')}}
                    </template>
                </el-table-column>
                <el-table-column prop="finish_count" label="承接总量">
                </el-table-column>
                <el-table-column label="项目日志">
                    <template slot-scope="scope">
                        <template>
                            <el-button type="danger" size="mini" @click="viewLog(scope.row.id)">查看日志</el-button>
                        </template>
                    </template>
                </el-table-column>
                <el-table-column label="评级" width="280px">
                    <template slot-scope="scope">
                        <template v-if="scope.row.grade_score == null">
                            <el-input v-model.number="scope.row.score" size="medium" placeholder="请输入评分，正整数" style="width: 70%;"></el-input>
                            <el-button type="primary" size="small" @click="subScore(scope.row)">确定</el-button>
                        </template>
                        <template v-else>
                            {{scope.row.comment}}
                        </template>
                </template>
                </el-table-column>
            </el-table>
            <!-- 查看日志弹框 -->
            <el-dialog title="项目日志" :visible.sync="dialogTableVisible" width="70%">
                <el-table :data="logData" max-height="320">
                    <el-table-column property="output" label="产量"></el-table-column>
                    <el-table-column property="join" label="参与人数"></el-table-column>
                    <el-table-column property="journal" label="报表类型">
                        <template slot-scope="scope">
                            {{scope.row.journal == '1'? '日报': '周报'}}
                        </template>
                    </el-table-column>
                    <el-table-column prop="create_time" label="创建时间">
                        <template slot-scope="scope">
                            {{scope.row.create_time | parseTime('{y}-{m}-{d}')}}
                        </template>
                    </el-table-column>
                    <el-table-column label="反馈" width="320px">
                        <template slot-scope="scope">
                            <template v-if="!scope.row.comment">
                                <el-input v-model.trim="scope.row.info" size="medium" placeholder="请输入反馈信息，50字内" max-length="50" style="width: 75%;"></el-input>
                                <el-button type="primary" size="small" @click="feedbackInfo(scope.row)">确定</el-button>
                            </template>
                            <template v-else>
                                {{scope.row.comment}}
                            </template>
                        </template>
                    </el-table-column>
                </el-table>
            </el-dialog>
        </el-main>
    </el-container>
</template>
<script>
import { mapGetters } from 'vuex'
import { parseTime } from '@/utils';
import { subFeedback, subGradeScore } from '@/api/projectBiddingAdmin'
import { validateInteger } from '@/utils/validate'
export default {
    name: 'projectManage',
    data() {
        return {
            project_id: this.$route.params.id,
            dialogTableVisible: false,
            logData: []
        }
    },
    computed: {
        ...mapGetters(['pagePersonal', 'page_size_admin', 'totalAdmin', 'projectManageList', 'logList'])
    },
    created() {
        this.getManageList();
    },
    methods: {
        getManageList() {
            this.$store.dispatch('GetProjectManageList', this.project_id)
        },
        viewLog(id) {
            this.dialogTableVisible = true;
            this.$store.dispatch('GetLogList', id).then(res => {
                this.logData = res. results;
            });
        },
        feedbackInfo(rowLog) {
            if(!rowLog.info) {
                this.$message({
                    message: '请输入反馈信息！',
                    type: 'warning'
                });
                return false;
            };
            subFeedback(rowLog.id, rowLog.info).then(() => {
                this.$message({
                    message: '提交成功！',
                    type: 'success'
                });
                this.dialogTableVisible = false;
            }).catch(() => {
                this.dialogTableVisible = false;
            });
        },
        subScore(rowScore) {
            if(validateInteger(rowScore.score)[0]) {
                this.$message({
                    message: validateInteger(rowScore.score)[1],
                    type: 'warning'
                });
            };
            subGradeScore(rowScore.id, rowScore.score).then(() => {
                this.$message({
                    message: '提交成功！',
                    type: 'success'
                });
            }).catch();
        }
    },
}
</script>