<template>
    <div class="page-container">
        <el-pagination small background @current-change="handleCurrentChange" :current-page="pageIndex"
            :page-size="pageSize" layout="prev, pager, next" :total="pageCount">
        </el-pagination>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    name: 'pagination',
    // props: ['pageCount', 'previous', 'next'],
    data() {
        return {
            pageIndex: 1,
            pageCount: 0,
            pageSize: 8,
            prev: '',
            next: '',
        }
    },
    computed: {
        ...mapGetters(['pageCount', 'previous', 'next'])
    },
    methods: {
        handleCurrentChange(index) {
            console.log(index)
        }
    },
}
</script>
<style lang="scss">
    // .page-container {
    //     position: absolute;
    //     right: 0;
    //     bottom: 10px;
    // }
</style>