<template>
  <div class="wrapper">
    <div class="container-wrap">
      <div class="header">
        找回密码
      </div>
      <div style="padding-top: 20px;">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/login' }">登录</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">忘记密码</a></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="validate_body">
        <el-steps :active="active" finish-status="success" style="width: 70%;">
          <el-step title="安全验证"></el-step>
          <el-step title="重置密码"></el-step>
        </el-steps>
        <!-- 验证 -->
        <!-- <el-row>
          <el-col :span="12"> -->
        <!-- <transition name="fade"> -->
        <transition name="el-zoom-in-center">
          <div class="form1" v-show="form_show">
            <el-form ref="form" :model="form" :rules="rules" status-icon label-width="80px" label-position="left">
              <el-row :gutter="20">
                <el-col :span="16">
                  <el-form-item label="手机号" prop="mobile">
                    <el-input v-model="form.mobile" placeholder="请输入手机号"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="20">
                <el-col :span="16">
                  <el-form-item label="验证码">
                    <el-input v-model="form.code" placeholder="请输入验证码"></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="8">
                  <el-button type="primary" @click="getCode(form)" :disabled="!show">
                    <span v-show="show">发送验证码</span>
                    <span v-show="!show">{{count}} s</span>
                  </el-button>
                </el-col>
              </el-row>
            </el-form>
            <el-button plain type="primary" style="margin-top: 20px;" @click="next" :disabled="disabled">下一步</el-button>
          </div>
        </transition>
        <!-- </el-col>
        </el-row> -->
        <!-- 重置密码 -->
        <!-- <el-row>
          <el-col :span="12"> -->
        <transition name="el-zoom-in-center">
          <!-- <transition name="fade"> -->
          <div class="form1" v-show="!form_show">
            <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" label-width="80px" label-position="left">
              <el-row :gutter="20">
                <el-col :span="18">
                  <el-form-item label="新密码" prop="pass">
                    <el-input type="password" v-model="ruleForm2.pass" autocomplete="off" placeholder="密码长度8~20位，数字/字母/字符"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="20">
                <el-col :span="18">
                  <el-form-item label="确认密码" prop="checkPass">
                    <el-input type="password" v-model="ruleForm2.checkPass" autocomplete="off" placeholder="密码长度8~20位，数字/字母/字符"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row style="margin-top: 20px;">
                <el-button plain type="primary" @click="pre" :disabled="disabled">上一步</el-button>
                <el-button type="primary" @keyup.enter.native="submitForm" @click="submitForm()">提交</el-button>
                <el-button @click="resetForm('ruleForm2')">重置</el-button>
              </el-row>
            </el-form>
          </div>
        </transition>
        <!-- </el-col>
        </el-row> -->
      </div>
    </div>
  </div>
</template>
<script>
  const TIME_COUNT = 60;
  export default {
    name: 'forget',
    data() {
      var validatePhone = (rule, value, callback) => {
        let reg = /^1[3-9]\d{9}$/;
        if (value === '') {
          callback(new Error('请输入手机号'));
        } else {
          if (!reg.test(value)) {
            callback(new Error('手机号码格式不正确'));
          }
          callback();
        }
      };
      var validatePass = (rule, value, callback) => {
        let re = /^[A-Za-z0-9]{8,20}$/;
        if (value === '') {
          callback(new Error('请输入密码'));
        } else if (!re.test(value)) {
          callback(new Error('请输入8-20位密码，字母+数字组合'));
        } else {
          if (this.ruleForm2.checkPass !== '') {
            this.$refs.ruleForm2.validateField('checkPass');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.ruleForm2.pass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      return {
        form_show: true,
        active: 0,
        form: {
          mobile: '',
          code: ''
        },
        rules: {
          mobile: [{
            validator: validatePhone,
            trigger: 'blur'
          }]
        },
        disabled: false,
        show: true,
        count: '',
        timer: null,
        ruleForm2: {
          pass: '',
          checkPass: ''
        },
        rules2: {
          pass: [{
            validator: validatePass,
            trigger: 'blur'
          }],
          checkPass: [{
            validator: validatePass2,
            trigger: 'blur'
          }]
        }
      };
    },
    methods: {
      //获取验证码
      getCode(form) {
        const phone = this.form.phone;
        if (!phone || phone.length !== 11) {
          this.$message({
            message: '手机号码有误！',
            type: 'warning'
          });
          return 
        }
        if (!this.timer) {
          this.count = TIME_COUNT;
          this.show = false;
          this.timer = setInterval(() => {
            if (this.count > 0 && this.count <= TIME_COUNT) {
              this.count--;
            } else {
              this.show = true;
              clearInterval(this.timer);
              this.timer = null;
            }
          }, 1000)
        }
        let mobile = form.mobile;
        this.$http
          .get(
            `/sms_code/${this.form.mobile}/`, {}
          )
          .then(data => {
            this.$message({
              type: "success",
              message: data.message
            });
          })
          .catch(error => {
            console.log(error);
            this.fullscreenLoading = false;
          });
      },
      pre() {
        this.form_show = true;
        this.show = true;
        clearInterval(this.timer);
        this.timer = null;
      },
      next() {
        // let reg = /^1[3-9]\d{9}$/;
        // if (!reg.test(this.form.phone)) {
        //   this.$message({
        //     type: "error",
        //     message: "请输入正确的手机号码"
        //   });
        //   return false;
        // };
        if (!this.form.code) {
          this.$message({
            type: "error",
            message: "请填写验证码"
          });
          return false;
        };
        if (this.active++ > 2) this.active = 0;
        this.form_show = false;
      },
      //重置密码
      submitForm() {
        this.fullscreenLoading = true;
        let Data = {
          sms_code: this.form.code,
          password: this.ruleForm2.pass,
          password2: this.ruleForm2.checkPass
        };
        this.$http
          .post(
            `/back_password/${this.form.mobile}/`,
            Data
          )
          .then(data => {
            if (data.message == "密码修改成功") {
              this.$message({
                type: "success",
                message: data.message
              });
              this.$router.push({
                path: '/login'
              });
            }
          })
          .catch(error => {
            console.log(error);
            this.fullscreenLoading = false;
          });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }

</script>
<style scoped>
  .wrapper {
    width: 100%;
  }

  .container-wrap {
    width: 980px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    line-height: 90px;
    font-size: 24px;
    color: #666;
    border-bottom: 1px solid #eee;
    margin-top: 20px;
  }

  .validate_body {
    width: 100%;
    margin-top: 40px;
    position: relative;
  }

  .validate_body>div:nth-child(2),
  .validate_body>div:nth-child(3) {
    width: 50%;
    margin-top: 60px;
  }

  .form1 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
  }

  /* .fade-leave-active {
    transition: all .3s linear;
  }

  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active {
    transition: all .3s linear;
    opacity: 1;
  }

  .fade-enter-to {
    transform: translateX(-490px);
  }

  .fade-enter {
    opacity: 1;
  } */

</style>
