.el-main {
    width: 100%;
    height: 100vh;
    position: relative;
}

.warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .warning-title {
        padding: 20px 0;
        font-size: 20px;
        color: #F56C6C;
    }
}

.warning-text {
    padding-bottom: 20px;
    font-size: 16px;
    color: #303133;
}

.sociaty-container {
    padding: 20px;

    .sociaty-card {
        margin-bottom: 14px;

        .el-card__body {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 20px;

            span {
                display: block;
                line-height: 26px;
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .image {
                width: 150px;
                height: 150px;
                display: block;
            }
        }
    }
}

.guild-container {
    width: 100%;
    padding: 16% 0 0 8%;
    display: flex;

    .guild-info {
        flex: 1;
        margin-left: 30px;
        font-size: 15px;
        color: #303133;
        .el-col {
            margin: 0;
            padding-bottom: 10px;
        }
    }
}

.task-list {
    margin-bottom: 14px;
    
        .el-card__body {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 20px;

        .content {
            width: 60%;

            div {
                line-height: 26px;
                font-size: 14px;
            }
        }

        .image {
            width: 120px;
            height: 120px;
            display: block;
            margin-right: 10px;
        }
    }
}

