 /* 隐藏另存下载音频 */
 audio::-webkit-media-controls {
     overflow: hidden !important
 }

 #waveform {
     position: relative;
 }

 .audio-container {
     padding: 20px;
     height: 100%;
     color: #303133;
     font-size: 14px;
 }

 .el-breadcrumb {
    margin-bottom: 20px;
 }

 .file-name {
     display: flex;
     align-items: center;
     padding-bottom: 10px;
 }

 .controls {
     padding: 24px 0;

     .wave-text {
         float: left;
     }

     .el-slider {
         float: left;
         width: 50%;
         margin-left: 20px;
         margin-top: -10px;
     }
 }

 .wave-table {
     padding: 0 10px;
 }

 .comment, .btn-group {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }

 .comment span {
     font-size: 15px;
     color: #303133;
 }