<template>
  <div class="container_a">
    <h1>用户协议</h1>
    <p>请务必认真阅读和理解本协议中规定的所有权利和限制。您一旦注册、登录、使用或以任何方式使用路米数据平台涉及的相关服务的行为将视为对本《协议》的接受，即表示您同意接受本《协议》各项条款内容以及可能随时更新的内容。</p>
    <h2>一、所有权及用户注册</h2>
    <p>1.一旦注册成功成为用户，路米将给予每个用户一个密码和账号，该用户帐号和密码由用户负责保管，用户需要对其在账户中的所有活动和事件负全责。</p>
    <p>2. 注册用户可以使用自有账号权限范围内的平台各项服务，当用户使用路米平台各项服务时，其使用行为视为对其服务条款以及路米针对该服务发出的公告表示同意。</p>
    <p>3、路米账号所有权归属路米，用户成功注册后，获得路米账号使用权。</p>
    <p>4、用户应保证注册信息的准确性。如果因注册信息不真实而引发的一切后果由用户承担，路米不负任何责任。</p>
    <h2>二、用户使用规则</h2>
    <p>用户在使用路米平台过程中，必须遵循以下原则：</p>

    <p>1、遵守国家的相关法律和互联网各项规章制度；</p>

    <p>2、申请注册的帐号，仅供用户自己使用，不得变更或转借他人使用，用户应对该帐号的所有活动和事件负全部责任；</p>

    <p>3、除非另有约定，否则在平台上产生的数据都归路米所有；</p>

    <p>4、用户不能向其他第三方泄露其在使用相关服务过程中所接触的任何服务内容或数据，或将这些内容或数据用于除完成本平台相关任务之外的其他目的，否则路米有权向其追究相关责任；</p>

    <p>5、用户通过非公平不正当途径完成平台任务，会被判为作弊，路米将根据具体作弊情况给予处罚，处罚形式包括但不限于账号清空、封号；</p>

    <p>6、用户不得侵犯路米和其他任何第三方的专利权、著作权、商标权、名誉权或其他任何合法权益；</p>

    <p>7、 如发现任何非法使用用户账号或账号出现安全漏洞的情况，应立即通告路米；</p>

    <p>如用户在使用平台服务时违反任何上述规定，路米或其授权的人有权要求用户改正或直接采取一切必要的措施（包括但不限于更改或删除用户收藏的内容等、暂停或终止用户使用平台服务的权利）以减轻用户不当行为造成的影响。</p>
    <h2>三、隐私保护</h2>
    <p>1. 路米充分尊重用户个人信息的保护，我们保证不对外公开或向第三方提供单个用户的注册资料，但下列情况除外：
      （1）事先获得用户的明确授权；
      （2）根据有关的法律法规要求；
      （3）按照相关政府主管部门的要求；
      （4）为维护社会公众的利益；
      （5）为维护路米的合法权益。
    </p>
    <p>2. 在不透露单个用户隐私资料的前提下，路米有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
    <h2>四、免责声明</h2>
    <p>1. 鉴于网络服务的特殊性，用户同意路米有权根据业务发展情况随时变更、中断或终止部分或全部的网络服务而无需通知用户，也无需对任何用户或任何第三方承担任何责任；</p>
    <p>2. 用户理解，路米需要定期或不定期地对路米平台或相关的设备进行检修或者维护，如因此类情况而造成网络服务在合理时间内的中断，路米无需为此承担任何责任，但路米应尽可能事先进行通告;</p>
    <p>3. 如发生下列任何一种情形，路米有权随时中断或终止向用户提供本《协议》项下的网络服务而无需对用户或任何第三方承担任何责任：
      （1）用户提供的个人资料不真实；
      （2）用户违反本《协议》中规定的使用规则。
    </p>
    <h2>五、其他条款</h2>
    <p>1. 本协议最终解释权归路米所有；</p>
    <p>2.
      路米有权随时根据有关法律、法规的变化以及公司经营状况和经营策略的调整等修改本协议，而无需另行单独通知用户。用户可随时通过路米平台公告浏览最新服务协议条款。当发生有关争议时，以最新的协议文本为准。如果不同意路米对本协议相关条款所做的修改，用户有权停止使用平台服务并注销用户账号。如果用户继续使用平台服务，则视为用户接受路米对本协议相关条款所做的修改；</p>
    <p>3. 因本协议引起的或与本协议有关的任何争议，各方应友好协商解决；协商不成的，任何一方均可向路米所在地的人民法院提起诉讼；</p>
    <p>4、如本协议中任何条款无论因何种原因完全或部分无效或不具有执行力，本协议其余条款仍应有效并且有约束力。</p>
  </div>
</template>
<style scoped>
  .container_a {
    padding: 20px 40px;
  }

  h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }

  p {
    text-indent: 2em;
    font-size: 16px;
    color: #666;
    line-height: 32px;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
  }

</style>
