<template>
  <div class="wrapper">
    <div class="container-wrapper">
      <div class="header">
        注册
      </div>
      <div style="padding-top: 20px;">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/login' }">登录</el-breadcrumb-item>
          <el-breadcrumb-item><a href="/">注册</a></el-breadcrumb-item>
        </el-breadcrumb>
      </div>
      <div class="validate_body">
        <el-form :model="registForm" status-icon :rules="registRules" ref="registForm" label-width="100px"
          label-position="left">
          <el-row :gutter="20">
            <el-col :span="10">
              <el-form-item label="用户名" prop="username">
                <el-input v-model="registForm.username" placeholder="真实姓名+数字"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="10">
              <el-form-item label="手机号" prop="mobile">
                <el-input v-model="registForm.mobile" placeholder="请输入手机号"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="10">
              <el-form-item label="短信验证码">
                <el-input v-model="registForm.smsCode" placeholder="请输入6位短信验证码"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-button type="primary" @click="handleSend()" :disabled="msgKey">
                <span>{{msgText}}</span>
              </el-button>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="10">
              <el-form-item label="密码" prop="password">
                <el-input type="password" v-model="registForm.password" autocomplete="off" placeholder="密码长度8~20位，数字/字母/字符">
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="10">
              <el-form-item label="确认密码" prop="password2">
                <el-input type="password" v-model="registForm.password2" autocomplete="off"
                  placeholder="密码长度8~20位，数字/字母/字符"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <el-col :span="8">
              <el-form-item label="验证码" prop="vCode">
                <el-input type="text" v-model="registForm.vCode" autocomplete="off" placeholder="请输入验证码"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <div>
                <img :src="vaite" @click="clickVaite" title="点击获取验证码" alt="" style="width: 130px;height: 40px;cursor: pointer;">
              </div>
            </el-col>
          </el-row>
          <el-row>
            <el-form-item label="" prop="checked" label-width="0">
              <el-checkbox style="cursor: auto;" v-model="registForm.checked">阅读并接受</el-checkbox>
              <span style="font-size: 13px;color: #F56C6C;cursor: pointer" @click="dialogVisible = true">《用户注册协议》</span>
            </el-form-item>
          </el-row>
          <el-row style="padding-top: 20px;">
            <el-button type="primary" @click="submitForm('registForm')" @keyup.enter.native="submitForm">提交</el-button>
            <el-button @click="resetForm('registForm')">重置</el-button>
          </el-row>
        </el-form>
      </div>
    </div>
    <el-dialog title="" :visible.sync="dialogVisible" width="60%" center>
      <div style="height: 400px; overflow-y: scroll">
        <agreement></agreement>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script>
  const MSGINIT = '发送验证码';
  const MSGSCUCCESS = '${time}秒后重发';
  const MSGTIME = 60;
  import agreement from "./Agreement";
  import { baseUrl } from "@/config/env";
  import { isvalidatemobile } from '@/utils/validate'
  export default {
    name: 'regist',
    components: {
      agreement
    },
    created() {
      //获取验证码图片
      this.vaite = baseUrl + "/users/img_code/?v=" + new Date().getTime();
    },
    data() {
      var validateName = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入用户名'));
        } else {
          if (value.length < 2 || value.length > 10) {
            callback(new Error('长度在 2 到 10 个字符'));
          }
          callback();
        }
      };
      var validatePhone = (rule, value, callback) => {
        if (isvalidatemobile(value)[0]) {
          callback(new Error(isvalidatemobile(value)[1]))
        } else {
          callback()
        }
      };
      const validateCode = (rule, value, callback) => {
        if (value.length !== 6) {
          callback(new Error('请输入6位数的验证码'))
        } else {
          callback()
        }
      }
      var validatePass = (rule, value, callback) => {
        let re = /^[A-Za-z0-9]{8,20}$/;
        if (value === '') {
          callback(new Error('请输入密码'));
        } else if (!re.test(value)) {
          callback(new Error('密码长度8~20位，数字/字母/字符'));
        } else {
          if (this.registForm.password2 !== '') {
            this.$refs.registForm.validateField('password2');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.registForm.password) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      var validatevCode = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入验证码'));
        } else {
          callback();
        }
      };
      var validatevCheck = (rule, value, callback) => {
        if (value === false) {
          callback(new Error('请勾选用户注册协议'));
        } else {
          callback();
        }
      };
      return {
        msgText: MSGINIT,
        msgTime: MSGTIME,
        msgKey: false,
        dialogVisible: false,
        vaite: "", //验证码图片
        registForm: {
          username: '',
          mobile: '',
          password: '',
          password2: '',
          vCode: '',
          checked: false,
          smsCode: ''   //6位验证码
        },
        registRules: {
          username: [{
            validator: validateName,
            trigger: 'blur'
          }],
          mobile: [{
            validator: validatePhone,
            trigger: 'blur'
          }],
          smsCode: [{ 
            required: true, 
            trigger: 'blur', 
            validator: validateCode 
          }],
          password: [{
            validator: validatePass,
            trigger: 'blur'
          }],
          password2: [{
            validator: validatePass2,
            trigger: 'blur'
          }],
          vCode: [{
            validator: validatevCode,
            trigger: 'blur'
          }],
          checked: [{
            validator: validatevCheck,
            trigger: 'change'
          }]
        }
      };
    },
    methods: {
      //点击切换验证码图片
      clickVaite() {
        this.vaite = baseUrl + "/users/img_code/?v=" + new Date().getTime();
      },
      //获取验证码
      handleSend() {
        const phone = this.registForm.mobile;
        if (!phone || phone.length !== 11) {
          this.$message({
            message: '手机号码有误！',
            type: 'warning'
          });
          return 
        }
        this.msgText = MSGSCUCCESS.replace('${time}', this.msgTime)
        this.msgKey = true
        const time = setInterval(() => {
          this.msgTime--
          this.msgText = MSGSCUCCESS.replace('${time}', this.msgTime)
          if (this.msgTime === 0) {
            this.msgTime = MSGTIME
            this.msgText = MSGINIT
            this.msgKey = false
            clearInterval(time)
          }
        }, 1000)
        this.$store.dispatch('GetSmscode', this.registForm.mobile).then(res => {
          // console.log(res);
        })
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            let form = {
              username: this.registForm.username,
              mobile: this.registForm.mobile,
              password: this.registForm.password,
              password2: this.registForm.password2,
              imge_code: this.registForm.vCode,
              value: this.registForm.checked,
              sms_code: this.registForm.smsCode
            }
            this.$store.dispatch('Regist', form).then(res => {
              this.$message({
                message: '注册成功！',
                type: 'success'
              });
              this.$router.push({ path: '/login' })
            })
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>
<style scoped>
  .wrapper {
    width: 100%;
  }

  .container-wrapper {
    width: 980px;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    line-height: 90px;
    font-size: 24px;
    color: #666;
    border-bottom: 1px solid #eee;
    margin-top: 20px;
  }

  .validate_body {
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
  }

  .validate_body>div:nth-child(2),
  .validate_body>div:nth-child(3) {
    width: 100%;
    margin-top: 60px;
  }
</style>