<template>
    <el-container>
        <el-main>
            <el-tabs type="border-card" @tab-click="handleClick">
                <el-tab-pane label="正在进行">
                    <ongoingTask></ongoingTask>
                </el-tab-pane>
                <el-tab-pane label="已完成任务">
                    <finishedTask></finishedTask>
                </el-tab-pane>
            </el-tabs>
        </el-main>
        <el-aside width="250px" style="padding: 20px;">
            <notice></notice>
        </el-aside>
    </el-container>
</template>
<script>
    import ongoingTask from './components/ongoingTask'
    import finishedTask from './components/finishedTask'
    import notice from './components/notice'
    export default {
        name: 'myTask',
        components: {
            ongoingTask,
            finishedTask,
            notice
        },
        data() {
            return {

            }
        },
        created() {
            this.getUnderwayList();
        },
        methods: {
            getUnderwayList(val) {
               this.$store.dispatch('GetTaskListUnderway');
            },
            getFinishedList(val) {
                this.$store.dispatch('GetTaskListFinished');
            },
            handleClick(tab, event) {
                let index = tab.index;
                switch (index) {
                    case '0':
                        this.$store.commit('SET_PAGE', 1);
                        this.getUnderwayList();
                        break;
                    case '1':
                        this.$store.commit('SET_PAGE', 1);
                        this.getFinishedList();
                        break;
                }
            }
        }
    }
</script>
<style lang="scss">

</style>