<template>
    <el-tabs type="border-card" @tab-click="handleClick">
        <el-tab-pane label="所有项目">
            <allProject></allProject>
        </el-tab-pane>
        <el-tab-pane label="正在进行">
            <ongoing></ongoing>
        </el-tab-pane>
        <el-tab-pane label="竞标失败">
            <failBid></failBid>
        </el-tab-pane>
        <el-tab-pane label="已完成">
            <onFinished></onFinished>
        </el-tab-pane>
    </el-tabs>
</template>
<script>
import allProject from './components/allProject'
import ongoing from './components/ongoing'
import failBid from './components/failBid'
import onFinished from './components/onFinished'
export default {
    components: {
        allProject,
        ongoing,
        failBid,
        onFinished
    },
    data() {
        return {

        }
    },
    created() {
        // this.getAllProject();
    },
    methods: {
        getAllProject() {
          this.$store.dispatch('GetAllTask')
        },
        getOngoingProject() {
            this.$store.dispatch('GetOngoingTask')
        },
        getFailProject() {
            this.$store.dispatch('GetFailTask')
        },
        getFinishedProject() {
            this.$store.dispatch('GetFinishedTask')
        },
        handleClick(tab, event) {
            let index = tab.index;
            switch (index) {
                case '0':
                    this.$store.commit('SET_PAGE', 1);
                    this.getAllProject();
                    break;
                case '1':
                    this.$store.commit('SET_PAGE', 1);
                    this.getOngoingProject();
                    break;
                case '2':
                    this.$store.commit('SET_PAGE', 1);
                    this.getFailProject();
                    break;
                case '3':
                    this.$store.commit('SET_PAGE', 1);
                    this.getFinishedProject();
                    break;
            }
        }
    }
}
</script>