<template>
    <div class="pro-container">
        <el-row :gutter="20">
            <el-col :span="8" v-for="(item,index) in allTaskList" :key="index">
                <el-card>
                    <div class="item">
                        项目名称：
                        <el-tag type="success">{{item.name}}</el-tag>
                    </div>
                    <div class="item">
                        项目状态：
                        <el-tag type="danger" size="small">{{item.is_delete == true? '招标结束': '正在招标'}}</el-tag>
                    </div>
                    <div class="item">
                        <el-button type="primary" size="small" @click="assignTwoAudit(item.id)">指定二审员</el-button>
                        <el-button size="small" @click="toAuditBidding(item.id)">竞标审核</el-button>
                    </div>
                    <div class="item">
                        <el-button type="warning" size="small" @click="toProjectManage(item.id)">项目管理</el-button>
                        <el-button type="danger" size="small" @click="onClose(item.id)">开启/关闭项目</el-button>
                        
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <div class="page-container">
            <el-pagination background @current-change="handleCurrentChange" :current-page="page" :page-size="page_size"
                layout="prev, pager, next" :total="total">
            </el-pagination>
        </div>
        <!-- 指定二审员 -->
        <el-dialog center title="指定试标二审员" :visible.sync="testVisible" width="40%" @close="resetForm('ruleForm')">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px">
                <el-form-item label="二次审核员" prop="auditPerson">
                    <el-select v-model="ruleForm.auditPerson" placeholder="请选择二审员">
                        <el-option v-for="item in auditList" :key="item.id" :label="item.username" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer">
                <el-button @click="testVisible = false">取 消</el-button>
                <el-button type="primary" @click="onSubAssign('ruleForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import {
        mapGetters
    } from 'vuex';
    import {
        getTwoAudit,
        subTwoAudit,
        closeProject
    } from '@/api/projectBiddingAdmin'
    export default {
        data() {
            return {
                project_id: '', //项目id
                testVisible: false,
                auditList: [],
                ruleForm: {
                    auditPerson: ''
                },
                rules: {
                    auditPerson: [{
                        required: true,
                        message: '请选择二审员',
                        trigger: 'change'
                    }],
                },
            }
        },
        computed: {
            ...mapGetters(['page', 'page_size', 'total', 'allTaskList'])
        },
        created() {
            this.getAllProject();
        },
        methods: {
            handleCurrentChange(val) {
                this.$store.commit('SET_PAGE', val);
                this.$store.dispatch('GetAllTask');
            },
            getAllProject() {
                this.$store.dispatch('GetAllTask')
            },
            assignTwoAudit(id) {
                this.project_id = id;
                this.testVisible = true;
                getTwoAudit().then(res => {
                    this.auditList = res.lis_two_audit;
                })
            },
            onSubAssign(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        subTwoAudit(this.project_id, this.ruleForm.auditPerson).then(() => {
                            this.$message({
                                message: '提交成功！',
                                type: 'success'
                            });
                            // this.ruleForm = {
                            //     auditPerson: ''
                            // };
                            this.testVisible = false;
                        }).catch(() => {
                            this.testVisible = false;
                        });
                    }
                });
            },
            toAuditBidding(id) {
                this.$router.push({
                    name: 'auditBidding',
                    params: {
                        id: id
                    }
                })
            },
            toProjectManage(id) {
                this.$router.push({
                    name: 'projectManage',
                    params: {
                        id: id
                    }
                })
            },
            onClose(id) {
                this.$confirm('确定开启/关闭此项目?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    closeProject(id).then(res => {
                        this.$message({
                            message: '提交成功！',
                            type: 'success'
                        });
                        this.getAllProject();
                    });
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields()
            }
        },
    }
</script>
<style lang="scss" scoped>
    .el-button+.el-button {
        margin-left: 0;
    }

    .pro-container {

        .el-col {
            margin-bottom: 10px;

            .el-card {
                padding: 10px;
            }

            .item {
                padding-bottom: 12px;
                font-size: 14px;
                color: #303133;

                .el-button {
                    margin-right: 6px;
                }
            }
        }
    }
</style>