<template>
    <el-container>
        <el-main>
            <!-- 会长 -->
            <president v-permission="[3]"></president>
            <!-- 项目管理员 -->
            <proAdmin v-permission="[5]"></proAdmin>
        </el-main>
    </el-container>
</template>
<script>
import president from './president';
import proAdmin from './proAdmin';
import permission from '@/directive/permission/index.js' // 权限判断指令
export default {
    name: 'projectBidding',
    directives: { permission },
    components: {
        president,
        proAdmin
    },
    data() {
        return {

        }
    },
}
</script>