<template>
  <el-container class="audio-container">
    <el-main>
      <el-breadcrumb separator="/">
        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
        <el-breadcrumb-item>工作界面</el-breadcrumb-item>
      </el-breadcrumb>
      <!-- 波形区域 -->
      <wave ref="wave" :audioSrc="taskfile" v-if="taskfile"></wave>
      <div class="file-name">
        <span>音频名称：</span>
        <el-tag>{{fileName}}</el-tag>
      </div>
      <!-- 表单、table区域 -->
      <waveTable ref="waveTable"></waveTable>
      <template>
        <btnGroup v-if='flag == 0' @onReset="onReset"></btnGroup>
        <btnGroupCheck v-if='flag == 1' @onReset="onReset"></btnGroupCheck>
        <btnGroupAudit v-if='flag == 2' :order_id="order_id" @onReset="onReset"></btnGroupAudit>
        <btnGroupNotpass v-if='flag == 3' @onReset="onReset"></btnGroupNotpass>
      </template>
    </el-main>
  </el-container>
</template>
<script>
  import { mapGetters } from 'vuex'
  import wave from './components/wave';
  import waveTable from './components/waveTable'
  import btnGroup from './components/btnGroup'
  import btnGroupCheck from './components/btnGroupCheck'
  import btnGroupAudit from './components/btnGroupAudit'
  import btnGroupNotpass from './components/btnGroupNotpass'
  import { beginAudit } from '@/api/workSpaceLabel'
  export default {
    name: 'audio_ASR',
    components: {
      wave,
      waveTable,
      btnGroup,
      btnGroupCheck,
      btnGroupAudit,
      btnGroupNotpass
    },
    data() {
      return {
        order_id: this.$route.params.id,
        check_spot: this.$route.params.check_spot,
        flag: this.$route.params.flag,
      }
    },
    computed: {
      ...mapGetters(['fileName', 'taskfile'])
    },
    mounted() {
      switch(this.flag) {
        case 0: 
         this.getData();
         break;
        case 1:
          this.getDataCheck();
          break;
        case 2:
          this.getDataAudit();
          break;
        case 3:
          this.getDataNotPass();
          break;
        default: 
          break;
      }
    },
    updated() {
      this.$refs['wave'].initRegion();
      this.$refs['waveTable'].initData();
    },
    methods: {
      getData() {
        this.$store.dispatch('StartTask', this.order_id).catch(() => {
          this.$router.push({
              path: '/dashboard'
          })
        });
      },
      getDataCheck() {

      },
      getDataAudit() {
          this.$store.dispatch('BeginAudit',{order_id: this.order_id, check_spot: this.check_spot}).then( res => {
          }).catch(() => {
            this.$router.push({
                path: '/dashboard'
            })
          });
      },
      getDataNotPass() {
        
      },
      onReset() {
          this.$refs['wave'].onClearRegion();
          this.$refs['waveTable'].onResetTable();
      }
    },
  }
</script>
<style lang="scss" scoped>
</style>