<template>
    <div class="guild-container">
        <div>
            <img :src="guildInfo.headimage_url" width="150px" height="150px" />
        </div>
        <div class="guild-info">
            <el-row :gutter="20">
                <el-col :span="8">
                    <div :title="guildInfo.name" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                        公会名称：{{guildInfo.name}}</div>
                </el-col>
                <el-col :span="10">
                    <div>公会会长：{{guildInfo.header}}</div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="8">
                    <div>成员数量：{{guildInfo.count}}</div>
                </el-col>
                <el-col :span="10">
                    <div style="display: flex;">公会等级：
                        <el-rate v-model="guildInfo.level" disabled show-score text-color="#ff9900"
                            score-template="{value} 星"></el-rate>
                    </div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="8">
                    <div>我的职务：{{identities[identity]}}</div>
                </el-col>
                <el-col :span="10">
                    <div>QQ群：{{guildInfo.qq_group}}</div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-col :span="18">
                    <div style="line-height: 22px;">公会简介：{{guildInfo.description}}</div>
                </el-col>
            </el-row>
            <el-row :gutter="20">
                <el-button v-if="identity == 1 || identity == 3" size="small" type="primary">修改公会头像</el-button>
                <el-button v-if="identity == 1 || identity == 3" size="small" type="warning" @click="makeCode()">生成邀请码
                </el-button>
                <el-button v-if="identity == 3" size="small" type="danger" @click="handleDissolution()">解散公会</el-button>
            </el-row>
        </div>
    </div>
</template>
<script>
    import {
        getSociatyInfo
    } from '@/api/sociaty';
    import {
        mapGetters
    } from 'vuex';
    import request from '@/utils/request'
    import {
        baseUrl
    } from "@/config/env";
    export default {
        data() {
            return {
                guildInfo: {
                    name: '',
                    header: '',
                    headimage_url: '',
                    level: null,
                    description: '',
                    count: '',
                    qq_group: ''
                }
            }
        },
        computed: {
            ...mapGetters(['identities', 'identity'])
        },
        created() {
            getSociatyInfo().then(res => {
                this.guildInfo = res;
            }).catch();
        },
        methods: {
            makeCode() {
                request({
                    url: `${baseUrl}/guilds/setyqm/`,
                    method: 'get'
                }).then(res => {
                    this.$alert(`您的邀请码是：${res.yqm}`, {
                        confirmButtonText: '确定'
                    });
                })
            },
            handleDissolution() {
                this.$confirm('确定要解散此公会?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    request({
                        url: `${baseUrl}/guilds/dissolutionguild/`,
                        method: 'get'
                    }).then(res => {
                        this.$message({
                            message: '解散成功！',
                            type: 'success'
                        });
                        this.$emit('load');
                    });
                });
            }
        }
    }
</script>
<style lang="scss" scope>

</style>