<template>
    <div class="warning-container">
        <div class="warning-title"><i class="el-icon-warning"></i>&nbsp;&nbsp;您申请的公会正在审核中！</div>
        <div class="warning-text">公会名称：{{guildName}}</div>
        <div>
            <el-button type="danger" @click="onWithdraw()">撤回申请入会</el-button>
        </div>
    </div>
</template>
<script>
import { withdraw } from '@/api/sociaty';
export default {
    props: ['guildName'],
    data() {
        return {

        }
    },
    methods: {
        onWithdraw() {
            this.$confirm('确定取消申请?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
            }).then(() => {
                withdraw().then(res => {
                    this.$message({
                    message: '撤回申请入会成功！',
                    type: 'success'
                    });
                    this.$emit('load');
                })
            }).catch();
        }
    }
}
</script>