<template>
    <el-table :data="gridData" max-height="320">
        <el-table-column property="username" label="用户名" width="120"></el-table-column>
        <el-table-column property="idents" label="工作类型">
            <template slot-scope="scope">
                {{types[scope.row.idents]}}
            </template>
        </el-table-column>
        <el-table-column property="wait_audit" label="待审核数量"></el-table-column>
        <el-table-column property="one_audit" label="一审通过数量"></el-table-column>
        <el-table-column property="two_audit" label="二审通过数量"></el-table-column>
        <el-table-column property="one_no_pass" label="一审驳回数量"></el-table-column>
        <el-table-column property="two_no_pass" label="二审驳回数量"></el-table-column>
    </el-table>
</template>
<script>
import { types } from '@/views/personalCenter/components/types'
export default {
    props: ['batchId'],
    data() {
        return {
            types: types,
            gridData: []
        }
    },
    mounted() {
        this.$store.dispatch('CheckCount', this.batchId).then(res => {
            console.log(res)
            this.gridData = res.results;
        })
    }
}
</script>