<template>
  <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
    <el-form-item label="公会名称" prop="name">
      <el-input v-model="ruleForm.name" placeholder="不超过15个字,建议使用公司简称命名公会,方便对接" maxlength="15"></el-input>
    </el-form-item>
    <el-form-item label="联系电话" prop="urgent_phone">
      <el-input v-model="ruleForm.urgent_phone" placeholder="请输入手机号"></el-input>
    </el-form-item>
    <el-form-item label="公会QQ群" prop="qq_group">
      <el-input v-model="ruleForm.qq_group" placeholder="请输入QQ号"></el-input>
    </el-form-item>
    <el-form-item label="公会简介" prop="description">
      <el-input type="textarea" v-model="ruleForm.description" rows="4" placeholder="请输入公会简介，不超过100字" maxlength="100">
      </el-input>
    </el-form-item>
    <el-form-item label="创建理由" prop="create_reason">
      <el-input v-model="ruleForm.create_reason"></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
      <el-button @click="resetForm('ruleForm')">重置</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
  import {
    isvalidatemobile
  } from '@/utils/validate';
  import {
    createSociaty
  } from "@/api/sociaty";
  export default {
    name: 'create',
    data() {
      var validatePhone = (rule, value, callback) => {
        if (isvalidatemobile(value)[0]) {
          callback(new Error(isvalidatemobile(value)[1]))
        } else {
          callback()
        }
      };
      return {
        ruleForm: {
          name: '',
          urgent_phone: '',
          qq_group: '',
          description: '',
          create_reason: ''
        },
        rules: {
          name: [{
              required: true,
              message: '请输入公会名称',
              trigger: 'blur'
            },
            {
              min: 3,
              max: 15,
              message: '长度在 3 到 15 个字符',
              trigger: 'blur'
            }
          ],
          description: [{
            required: true,
            message: '请输入公会简介',
            trigger: 'blur'
          }],
          qq_group: [{
              required: true,
              message: '请输入公会qq群',
              trigger: 'blur'
            },
            {
              min: 7,
              message: '长度不能小于7个字符',
              trigger: 'blur'
            }
          ],
          urgent_phone: [{
              required: true,
              message: '请输入联系电话',
              trigger: 'blur'
            },
            {
              validator: validatePhone,
              trigger: 'blur'
            }
          ],
          create_reason: [{
            required: true,
            message: '请输入创建理由',
            trigger: 'blur'
          }]
        }
      }
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            createSociaty(this.ruleForm).then(res => {
              this.$message({
                message: '创建成功，请等待审核！',
                type: 'success'
              });
              this.$router.push({
                path: '/sociaty/sociatyInfo'
              })
            }).catch();
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>
<<style lang="scss">
  .demo-ruleForm {
  padding: 30px;
  width: 45%;
  }
  .el-form-item {
  margin-bottom: 30px;
  }
  </style>>