<template>
  <div class="sociaty-container">
    <el-row :gutter="20">
      <el-col class="sociaty-card" :span="8" v-for="(item, index) in guildList" :key="index">
        <el-card>
          <img :src="item.headimage_url" class="image">
          <div style="width: 50%;margin: 10px 0 0 20px;">
            <span :title="item.name">公会名称：{{item.name}}</span>
            <span>会长姓名：{{item.header}}</span>
            <span>公会人数：{{item.count}}</span>
            <span>公会等级：<el-tag type="warning" size="small" style="display: inline-block;line-height: 26px;">
                {{item.level}} 级</el-tag></span>
            <span :title="item.description">公会简介：{{item.description}}</span>
            <el-button type="text" @click="onApply(item.id)">申请加入公会</el-button>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <div class="page-container">
        <el-pagination background @current-change="handleCurrentChange" :current-page="page" :page-size="page_size" layout="prev, pager, next" :total="total">
        </el-pagination>
    </div>
    <el-dialog title="申请加入公会" :visible.sync="dialogVisible" width="30%" @close="resetForm('form')">
      <el-form :model="form" ref="form">
      <el-row :gutter="40" style="margin-bottom: 10px;">
        <el-col :span="18">
          <el-input size="small" v-model="form.code" placeholder="请输入邀请码"></el-input>
        </el-col>
        <el-button size="small" type="danger" @click="onJoin()">加 入</el-button>
      </el-row>
      <el-row :gutter="40">
        <el-col :span="18">
          <el-input size="small" v-model="form.reason" placeholder="无邀请码请输入申请理由，不超过50个字" maxlength="50"></el-input>
        </el-col>
        <el-button size="small" type="danger" @click="onSub()">提 交</el-button>
      </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>
<script>
  import request from '@/utils/request'
  import {
      baseUrl
  } from "@/config/env";
  import {
    getSociatyList
  } from '@/api/sociaty';
  export default {
    name: 'join',
    data() {
      return {
        guildList: [],
        page: 1,
        page_size: 9,
        total: 0,
        guildId: '',
        dialogVisible: false,
        form: {
          code: '',
          reason: ''
        }
      }
    },
    created() {
      this.getGuildList();
    },
    methods: {
      handleCurrentChange(val) {
          this.page = val;
          this.getGuildList()
      },
      getGuildList() {
        getSociatyList(this.page, this.page_size).then(res => {
          this.guildList = res.results;
          this.total = res.count;
        }).catch();
      },
      onApply(id) {
        this.dialogVisible = true;
        this.form = {
          code: '',
          reason: ''
        }       
        this.guildId = id;
      },      
      onJoin() {
        request({
            url: `${baseUrl}/guilds/yqmjiaru/${this.guildId}/`,
            method: 'post',
            data: {
              yqm: this.form.code
            }
        }).then(res => {
          this.$message({
              message: '加入公会成功！',
              type: 'success'
            });  
          this.$router.push('/sociaty/sociatyInfo'); 
        });
      },
      onSub() {
        request({
            url: `${baseUrl}/guilds/sqjr/${this.guildId}/`,
            method: 'post',
            data: {
              reason: this.form.reason
            }
        }).then(res => {
            this.$message({
              message: '申请成功，请等待审核！',
              type: 'success'
            });  
            this.$router.push('/sociaty/sociatyInfo');  
        });
      },
      resetForm(formName) {
          this.$refs[formName].resetFields()
      }
    }
  }
</script>
<style lang="scss" scope>

</style>