<template>
    <div class="warning-container">
       <div class="warning-title">您还未加入任何公会</div> 
       <div>
          <router-link to="/join">
            <el-button type="warning" plain size="small" style="margin-right: 10px;">申请加入</el-button>
          </router-link>
          <router-link to="/create">
            <el-button type="primary" plain size="small">创建公会</el-button>
          </router-link>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss">

</style>