<template>
    <div>
        <h3 class="notice-title"><i class="el-icon-s-flag"></i>&nbsp;&nbsp;公会公告
            <el-button v-if="userStatus == 3 || userStatus == 6" class="notice-pub" type="primary" size="mini"
                @click="dialogFormVisible = true">发布公告</el-button>
        </h3>
        <el-collapse accordion>
            <el-collapse-item v-for="(item, index) in noticeList" :key="index">
                <template slot="title" style="color: #409EFF;">
                    {{item.title}}
                </template>
                <h6>
                    发布者：{{item.user}}
                    &nbsp;&nbsp;&nbsp;&nbsp;<span
                        style="color: #909399">发布时间：{{item.release_time | parseTime('{y}-{m}-{d}')}}</span>
                </h6>
                <div>{{item.content}}</div>
                <div v-if="userStatus == 3 || userStatus == 6" class="del-btn">
                    <el-button type="danger" size="mini" @click="delNotice(item.id)">删除公告</el-button>
                </div>
            </el-collapse-item>
        </el-collapse>
        <el-dialog title="发布公告" :visible.sync="dialogFormVisible" center>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px">
                <el-form-item label="公告标题" prop="title">
                    <el-input v-model="ruleForm.title" autocomplete="off" placeholder="请输入公告标题，20字以内" maxlength="20"
                        clearable></el-input>
                </el-form-item>
                <el-form-item label="公告内容" prop="content">
                    <el-input type="textarea" v-model="ruleForm.content" autocomplete="off" placeholder="请输入公告内容，300字以内"
                        maxlength="300" rows="5"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="pubNotice('ruleForm')">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import {
        getNoticeList,
        publishNotice,
        deleteNotice
    } from '@/api/sociaty';
    export default {
        props: ['userStatus'],
        data() {
            return {
                noticeList: [],
                dialogFormVisible: false,
                ruleForm: {
                    title: '',
                    content: ''
                },
                rules: {
                    title: [{
                        required: true,
                        message: '请输入公告标题',
                        trigger: 'blur'
                    }],
                    content: [{
                        required: true,
                        message: '请输入公告内容',
                        trigger: 'blur'
                    }],
                }
            }
        },
        created() {
            this.getNotice();
        },
        methods: {
            getNotice() {
                getNoticeList().then((res) => {
                    this.noticeList = res.results;
                }).catch();
            },
            pubNotice() {
                this.$refs.ruleForm.validate((valid) => {
                    if (valid) {
                        publishNotice(this.ruleForm.title.trim(), this.ruleForm.content.trim()).then(() => {
                            this.$message({
                                message: '发布成功！',
                                type: 'success'
                            });
                            this.dialogFormVisible = false;
                            this.ruleForm = {
                                title: '',
                                content: ''
                            };
                            this.getNotice();
                        }).catch();
                    };
                });
            },
            delNotice(id) {
                this.$confirm('确定删除此公告?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    deleteNotice(id).then(() => {
                        this.$message({
                            message: '删除成功！',
                            type: 'success'
                        });
                        this.getNotice();
                    })
                }).catch();
            }
        },
    }
</script>
<style lang="scss">
    .notice-title {
        color: #F56C6C;
        line-height: 28px;

        .notice-pub {
            float: right;
            margin-right: 10px;
            padding: 8px;
        }
    }

    .del-btn {
        padding: 10px;
        float: right;
    }
</style>