<template lang="">
<div>
    <el-row :gutter="20">
        <el-col class="task-list" :span="8" v-for="(item, index) in underwayList" :key="index">
            <el-card>
                <img :src="item.b_image" class="image">
                <div class="content">
                    <div class="task-name" :title="item.b_name">批次名称：{{item.b_name}}</div>
                    <div>任务数量：{{item.b_count}}</div>
                    <div>截止日期：{{item.b_date | parseTime('{y}-{m}-{d}')}}</div>
                    <template v-if="identity == 1 || identity == 3">
                        <el-button type="text" @click="checkCount(item.b_id)">数量查看</el-button>
                    </template>
                    <template v-else>
                        <el-button type="text" @click="getTask(item.b_id)">领取任务</el-button>
                    </template>
                </div>
            </el-card>
        </el-col>
    </el-row>
    <div class="page-container">
        <el-pagination background @current-change="handleCurrentChange" :current-page="sPage" :page-size="sPage_size" layout="prev, pager, next" :total="sTotal">
        </el-pagination>
    </div>
    <!-- 数量查看弹框 -->
    <el-dialog v-if="countVisible" title="数量查看" :visible.sync="countVisible" width="60%">
        <countTable :batchId="batch_id"></countTable>
    </el-dialog>
    <!-- 领取任务弹框 -->
    <el-dialog title="领取任务" :visible.sync="getTaskVisible" width="30%">
        <el-row :gutter="20">
        <el-col :span="14">
        <el-input size="small" v-model="label" placeholder="请输入邀请码"></el-input>
        </el-col>
        <el-col :span="6">
        <el-button size="small" type="primary" @click="onSub()">领取任务</el-button>
        </el-col>
        </el-row>
    </el-dialog>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import { parseTime } from '@/utils';
import countTable from './countTable';
import { getSociatyTask } from '@/api/sociaty';
export default {
    components: {
        countTable
    },
    data() {
        return {
            batch_id: '',
            countVisible: false,
            getTaskVisible: false,
            label:''
        }
    },
    computed: {
        ...mapGetters(['sPage', 'sPage_size', 'sTotal', 'identity', 'underwayList'])
    },
    methods: {
        handleCurrentChange(val) {
            this.$store.commit('SET_SPAGE', val);
            this.$store.dispatch('GetListUnderway');
        },
        checkCount(batch_id) {
            this.countVisible = true;
            this.batch_id = batch_id;
        },
        getTask(batch_id) {
            this.label = '';
            this.getTaskVisible = true;
            this.batch_id = batch_id;    
        },
        onSub() {
            getSociatyTask(this.batch_id, this.label).then(res => {
                this.$message({
                    message: '领取成功！',
                    type: 'success'
                });  
                this.getTaskVisible = false;
            }).catch(() => {
                this.getTaskVisible = false;
            }) 
        }
    }
}
</script>
<style lang="scss" scope>
.task-name {
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>