<template>
    <div class="btn-group">
        <el-button size="mini" type="danger" @click="onPrev()" :disabled="index == 0? true: false">上一条</el-button>
        <el-button size="mini" type="primary" @click="onSave()">保存</el-button>
        <el-button size="mini" type="warning" @click="onNext()" :disabled="index == this.task_id_list.length-1? true: false">下一条</el-button>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    data() {
        return {
            index: 0
        }
    },
    computed: {
      ...mapGetters(['task_id_list'])
    },
    mounted() {
        this.onViewList();
    },
    methods: {
        onViewList() {
            let listId = this.task_id_list[this.index];
            this.$store.dispatch('QueryTask', listId)
        },
        onPrev() {
            this.index --;
            this.onViewList();
        },
        onSave() {
            this.$store.dispatch('SaveItemCheck').then((res) => {
                this.$message({
                    message: '保存成功！',
                    type: 'success'
                });
                this.onNext();
            }).catch();
        },
        onNext() {  
            this.index ++;
            this.onViewList();
        }
    },
}
</script>