<template>
    <div class="btn-group">
        <el-button size="mini" type="danger" @click="onPrev()" :disabled="index == 0? true: false">上一条</el-button>
        <el-button size="mini" type="primary" @click="onSave()">保存</el-button>
        <el-button size="mini" type="warning" @click="onNext()">下一条</el-button>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
    data() {
        return {

        }
    },
    computed: {
      ...mapGetters(['index'])
    },
    methods: {
        onPrev() {
            this.$store.dispatch('LastItem');
        },
        onSave() {
            this.$store.dispatch('SaveItem').then((res) => {
                this.$message({
                    message: '保存成功！',
                    type: 'success'
                });
            }).catch();
        },
        onNext() {  
            this.$store.dispatch('NextItem').then((res) => {
                this.$message({
                    message: '提交成功！',
                    type: 'success'
                });
                this.$emit('onReset');
            }).catch(() => {
                this.$router.push({
                    path: '/dashboard'
                })
            });
        }
    },
}
</script>