<template>
<div>
   <div class="comment">
        <span>驳回原因：</span>
        <el-input style="width: 60%;" autocomplete="off" placeholder="请输入驳回原因，不超过50个字" maxlength="50" v-model="comment">
        </el-input>
    </div> 
    <div class="btn-group">
        <el-button size="mini" type="danger" @click="onPrev()" :disabled="index == 0? true: false">上一条</el-button>
        <el-button size="mini" type="warning" @click="onNext()">下一条</el-button>
        <el-button size="mini" type="primary" @click="onPass()">合格</el-button>
        <el-button size="mini" type="danger" @click="onNotPass()">驳回</el-button>
        <el-button size="mini" type="info" @click="onRecover()">回收</el-button>
        <el-button size="mini" type="primary" @click="onPassAll()">全部通过</el-button>
        <el-button size="mini" type="danger" @click="onNotPassAll()">全部不通过</el-button>
    </div>
</div>
</template>
<script>
    import {
        mapGetters
    } from 'vuex'
    import {
        notPassItem,
        recoverItem,
        passAllItem,
        notPassAllItem
    } from '@/api/workSpaceLabel'
    export default {
        props: ['order_id'],
        data() {
            return {
                comment: comment || ''
            }
        },
        computed: {
            ...mapGetters(['index', 'taskId', 'comment'])
        },
        methods: {
            onPrev() {
                this.$store.commit('SET_PREV_ITEM');
                this.$store.dispatch('LastAndNext', this.order_id);
            },
            onNext() {
                this.$store.commit('SET_NEXT_ITEM');
                this.$store.dispatch('LastAndNext', this.order_id).then().catch(() => {
                    this.$router.push({
                        path: '/dashboard'
                    })
                });
            },
            onPass() {
                this.$store.dispatch('PassItem', this.order_id).then(() => {
                    this.$message({
                        message: '提交成功，进入下一条！',
                        type: 'success'
                    });
                    this.onNext();
                }).catch();
            },
            onNotPass() {
                notPassItem(this.order_id, this.taskId, this.comment).then(() => {
                    this.$message({
                        message: '提交成功，进入下一条！',
                        type: 'success'
                    });
                    this.comment = '';
                    this.onNext();
                })
            },
            onRecover() {
                recoverItem(this.order_id, this.taskId).then(() => {
                    this.$confirm('确定回收此任务?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.$message({
                        message: '提交成功，进入下一条！',
                        type: 'success'
                    });
                    this.onNext();
                }).catch();
                });
            },
            onPassAll() {
                this.$confirm('确定通过全部任务?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    passAllItem(this.order_id).then(() => {
                        this.$message({
                            message: '提交成功！',
                            type: 'success'
                        });
                        this.$router.push({
                            path: '/dashboard'
                        })
                    });
                }).catch();
            },
            onNotPassAll() {
                this.$confirm('确定通过驳回任务?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    notPassAllItem(this.order_id).then(() => {
                        this.$message({
                            message: '提交成功！',
                            type: 'success'
                        });
                        this.$router.push({
                            path: '/dashboard'
                        })
                    });
                }).catch();
            },
        },
    }
</script>