<template>
    <div>
        <el-form class="wave-form" ref="ruleForm" :model="ruleForm" label-width="100px" label-position="left">
            <el-row :gutter="20">
                <el-col :span="12">
                    <el-form :model="ruleForm" ref="ruleForm">
                        <el-form-item label="音频属性">
                            <el-radio-group v-model="ruleForm.radioAttr">
                                <el-radio label="1">有效</el-radio>
                                <el-radio label="2">无效</el-radio>
                            </el-radio-group>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </el-form>
        <el-table class="wave-table" :data="tableData" highlight-current-row @current-change="handleChange"
            height="400">
            <el-table-column type="index">
            </el-table-column>
            <el-table-column prop="start" :sortable="true" label="开始时间">
                <template slot-scope="scope">
                    {{scope.row.start.toFixed(2)}}
                </template>
            </el-table-column>
            <el-table-column prop="end" label="结束时间">
                <template slot-scope="scope">
                    {{scope.row.end.toFixed(2)}}
                </template>
            </el-table-column>
            <el-table-column prop="lang" label="音频属性">
                <template slot-scope="scope">
                    <el-checkbox v-model="scope.row.sensitive">敏感</el-checkbox>
                </template>
            </el-table-column>
            <el-table-column prop="role" label="坐席">
                <template slot-scope="scope">
                    <el-radio v-model="scope.row.role" label="1">客服</el-radio>
                    <el-radio v-model="scope.row.role" label="2">客户</el-radio>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button size="mini" @click="onPlayRegion(scope.$index, scope.row)">播放</el-button>
                    <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    export default {
        data() {
            return {
                ruleForm: {
                    radioAttr: '1'
                },
                tableData: [],
                currentRow: null,
                sensitive: false,
                role: '1',
                num: 0,   //总时长/总框数
            }
        },
        computed: {
            ...mapGetters(['raw_data', 'data'])
        },
        created() {
            this.$bus.on('onDeliverData', (data) => {
                this.tableData.push({
                    id: data.id,
                    start: data.start,
                    end: data.end,
                    effectiveTime: data.end - data.start,
                    sensitive: this.sensitive,
                    role: this.role
                });
                this.tableData.sort(this.compareTime('start'));
            });
        },
        updated() {
            let data = {
                tableData: this.tableData,
                ruleForm: this.ruleForm
            }
            // 有效总时长
            for (var i = 0, len = this.tableData.length; i < len; i++) {
                this.num += this.tableData[i].effectiveTime;
            };
            this.$store.commit('SET_NUM', this.num);
            this.$store.commit('SET_DATA', data);
        },
        methods: {
            initData() {
                setTimeout(() => {
                    let initData = JSON.parse(JSON.stringify(this.data));
                    if(!!initData) {
                        this.$set(this,'ruleForm',initData.ruleForm);
                        this.$set(this,'tableData',initData.tableData);
                    }
                }, 500);
            },
            // tableData 按开始时间排序
            compareTime(prop) {
                return (obj1, obj2) => {
                    let val1 = obj1[prop];
                    let val2 = obj2[prop];
                    if (!isNaN(Number(val1)) && !isNaN(Number(val2))) {
                        val1 = Number(val1);
                        val2 = Number(val2);
                    };
                    if (val1 < val2) {
                        return -1;
                    } else if (val1 > val2) {
                        return 1;
                    } else {
                        return 0;
                    }
                }
            },
            handleChange(val) {
                this.currentRow = val;
            },
            onPlayRegion(index, row) {
                this.$bus.emit('onPlayRegion', row.start, row.end);
            },
            handleDelete(index, row) {
                this.$confirm('确定删除此段区域?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    })
                    .then(() => {
                        this.tableData.splice(index, 1);
                        this.$bus.emit('handleDelete', row.id);
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                    })
            },
            onResetTable() {
                this.$refs.ruleForm.resetFields();
                this.tableData = [];
            }
        },
    }
</script>