<template>
    <div>
        <div id="waveform-timeline"></div>
        <div id="waveform" v-loading="loading"></div>
        <div class="controls">
            <el-row>
                <el-col :span="8">
                    <el-button title="按下tab键可播放/暂停音频" type="primary" size="small" icon="el-icon-service" @click="playOrPause()">播放/暂停
                    </el-button>
                    <el-button type="danger" size="small" icon="el-icon-close" @click="onStop()">停止</el-button>
                </el-col>
                <el-col :span="6">
                    <el-radio-group v-model="rate" @change="changeRate($event)">
                        <el-radio label="1">正常</el-radio>
                        <el-radio label="2">1.5倍速</el-radio>
                    </el-radio-group>
                </el-col>
                <el-col :span="10">
                    <span class="wave-text">调节波形大小</span>
                    <el-slider v-model="waveSize" @change="changeWaveSize('$event')">
                    </el-slider>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex'
    import WaveSurfer from 'wavesurfer.js';
    import RegionsPlugin from 'wavesurfer.js/dist/plugin/wavesurfer.regions';
    import TimelinePlugin from 'wavesurfer.js/dist/plugin/wavesurfer.timeline';
    export default {
        props: ['audioSrc'],
        data() {
            return {
                loading: false,
                waveform: null,
                audioRate: 1,
                options: {
                    container: '#waveform',
                    height: 220,
                    barHeight: 8,
                    barGap: 5,
                    audioRate: this.audioRate, //播放音频的速度
                    scrollParent: true,
                    waveColor: '#E6A23C',
                    progressColor: '#E6A23C',
                    cursorColor: '#FF0000',
                    plugins: [
                        TimelinePlugin.create({
                            container: '#waveform-timeline'
                        }), //时间轴插件
                        RegionsPlugin.create({
                            regions: [],
                            dragSelection: { //使拖拽
                                slop: 5
                            },
                        }),
                    ]
                },
                rate: '1',
                waveSize: 20,
                isPlaying: false,
                audioForm: [],    //传递给兄弟组件的音频片段
            }
        },
        computed: {
            ...mapGetters(['raw_data', 'data'])
        },
        mounted() {
            this.initWaveform();
            this.$bus.on('onPlayRegion', (start, end) => {
                this.waveform.play(start, end);
            });
            this.$bus.on('handleDelete', (id) => {
                let region = this.waveform.regions.list;
                region[id].remove(); //删除区域
            });
        },
        destroyed() {
            document.removeEventListener("keydown", this.watchEnter);
        },
        methods: {
            //监听tab键
            watchEnter(e) {
                var keyNum = window.event ? e.keyCode : e.which; //获取被按下的键值
                //判断如果用户按下了tab键（keycode=9）
                if (keyNum == 9 && this.waveform.isReady) {
                    e.preventDefault();
                    this.playOrPause();
                }
            },
            initWaveform() {
                this.waveform = WaveSurfer.create(this.options);
                this.waveform.load(this.audioSrc);
                document.addEventListener("keydown", this.watchEnter);
                this.waveformEvent();
            },
            initRegion() {
                if(!!this.data) {
                    this.waveform.clearRegions();
                    let tableData = this.data.tableData;
                    tableData.forEach((item, index) => {
                        this.waveform.addRegion({
                            id: item.id,
                            start: item.start,
                            end: item.end
                        });
                    });
                }
            },
            waveformEvent() {
                // 加载时候
                this.waveform.on("loading", percents => {
                    this.loading = true;
                });
                // 加载成功
                this.waveform.on("ready", () => {
                    this.loading = false;
                    this.waveform.clearRegions();
                    this.initRegion();
                    // this.duration = waveform.getDuration();
                });
                // this.waveform.on('region-created', ({ id, start, end }) => {
                //     this.updateRange(id, start, end);
                // });
                // this.waveform.on('region-updated', ({ id, start, end }) => {
                //     this.updateRange(id, start, end);
                // });
                this.waveform.on('region-update-end', ({ id, start, end }) => {
                    this.changeRange(id, start, end);
                });
            },
            // updateRange(id, start, end) {
            //     const region = this.waveform.regions.list;   
            // },
            changeRange(id, start, end) {
                this.audioForm = {
                    id: id,
                    start: start,
                    end: end
                };
                this.$bus.emit("onDeliverData", this.audioForm);
            },
            playOrPause() {
                if (this.isPlaying) {
                    this.waveform.play();
                } else {
                    this.waveform.playPause();
                }
            },
            onStop() {
                this.waveform.stop();
            },
            changeRate(e) {
                this.audioRate = e == '2' ? 1.5 : 1;
                this.waveform.setPlaybackRate(this.audioRate); //设置播放速度
            },
            changeWaveSize(val) {
                console.log(val)
              this.waveform.zoom(Number(val));
            },
            onClearRegion() {
                this.waveform.destroy();
                this.waveform.clearRegions();
                this.initWaveform();
            }
        },
    }
</script>
<style lang="scss">

</style>