<template>
  <div class="login-container pull-height" @keyup.enter.native="handleLogin">
    <!-- <div class="login-info text-white animated fadeInLeft">
      <div class="logo" style="margin-top:-426px">
          <img src="../../assets/images/home/logo.png" width="160px" height="160px" alt="logo" style="vertical-align: middle;" />
      </div>
      <h2 class="login-info-title">{{website.info.title}}</h2>
      <ul class="login-info-list">
        <li class="login-info-item" v-for="item in website.info.list">
          <i class="el-icon-check"></i>&nbsp;{{item}}
        </li>
      </ul>
    </div> -->
    <div class="login-border  animated fadeInRight">
      <div class="login-main">
        <h4 class="login-title">账户登录
          <!-- {{website.title}} -->
        </h4>
        <userLogin></userLogin>
        <!-- <el-tabs v-model="activeName">
          <el-tab-pane label="用户密码" name="user">
            <userLogin></userLogin>
          </el-tab-pane>
          <el-tab-pane label="短信验证码" name="code">
            <codeLogin></codeLogin>
          </el-tab-pane>
        </el-tabs> -->
      </div>
    </div>
  </div>
</template>
<script>
import userLogin from './userlogin'
import codeLogin from './codelogin'
import { mapGetters } from 'vuex'
export default {
  name: 'login',
  components: {
    userLogin,
    codeLogin
  },
  data() {
    return {
      // activeName: 'user'
    }
  },
  created() {},
  mounted() {},
  computed: {
    ...mapGetters(['website'])
  },
  props: [],
  methods: {}
}
</script>

<style lang="scss">
.login-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
  height: 100vh;
}
.login-container::before {
  z-index: -999;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #145b7d;
  // background-image: url("../../assets/images/top_images/loginbg.jpg");
  // background-size: cover;
}
.login-info {
  padding-left: 60px;
}
.login-info-title {
  line-height: 90px;
}
.login-info-item {
  font-size: 14px;
}
.login-border {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 100px 25px 100px;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}
.login-main {
  border-radius: 3px;
  box-sizing: border-box;
}
.login-main > h3 {
  margin-bottom: 20px;
}
.login-main > p {
  color: #76838f;
}
.login-title {
  margin: 0 0 20px;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  font-size: 18px;
}
.login-submit {
  margin-top: 20px;
  margin-right: 8px;
  width: 46%;
  border-radius: 8px;
}
.login-form {
  margin: 10px 0;
  .el-form-item__content {
    width: 300px;
  }
  .el-form-item {
    margin-bottom: 18px;
  }
  .el-input {
    input {
      text-indent: 5px;
      border-color: #dcdcdc;
      border-radius: 3px;
      color: #5e5e5e;
    }
    input::-webkit-input-placeholder {
      color: #909399!important;
    }
    .el-input__prefix {
      i {
        padding: 0 5px;
        font-size: 16px !important;
      }
    }
  }
}
.login-code {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 10px;
}
.login-code-img {
  margin-top: 2px;
  width: 100px;
  height: 32px;
  background-color: #fdfdfd;
  border: 1px solid #f0f0f0;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 32px;
  text-indent: 5px;
  text-align: center;
}
.forget {
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
}
</style>