<template>
    <el-container>
        <el-main>
            <el-table :data="memberData">
                <el-table-column property="hy_name" label="成员名称"></el-table-column>
                <el-table-column property="reason" label="入会理由" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" width="400px"></el-table-column>
                <el-table-column label="入会审核">
                    <template slot-scope="scope">
                        <el-button type="success" size="small" @click="agree(scope.row.mobile)">通过</el-button>
                        <el-popconfirm title="确定不通过吗？" @onConfirm="disagree(scope.row.mobile)">
                            <el-button type="danger" size="small" slot="reference">不通过</el-button>
                        </el-popconfirm>   
                    </template>
                </el-table-column>
            </el-table>
            <div class="page-container">
                <el-pagination background @current-change="handleCurrentChange" :current-page="page" :page-size="page_size" layout="prev, pager, next" :total="total">
                </el-pagination>
            </div>
        </el-main>
    </el-container>
</template>
<script>
import request from '@/utils/request'
import {
    baseUrl
} from "@/config/env";
export default {
    name: 'memberInvite',
    data() {
        return {
            memberData: [],
            page: 1,
            page_size: 8,
            total: 0
        }
    },
    created() {
        this.getInviteMember();
    },
    methods: {
        handleCurrentChange(val) {
            this.page = val;
            this.getInviteMember()
        },
        getInviteMember() {
            request({
                url: `${baseUrl}/guilds/hyrecruit/`,
                method: 'get',
                params: {
                   page: this.page, 
                   page_size: this.page_size,
                }
            }).then(res => {
                this.memberData = res.results;
                this.total = res.count;
            });
        },
        agree(mobile) {
            request({
                url: `${baseUrl}/guilds/ruhuiauitdpass/${mobile}/`,
                method: 'get'
            }).then(res => {
                this.$message({
                    message: '操作成功！',
                    type: 'success'
                });  
                this.getInviteMember();
            });
        },
        disagree(mobile) {
            request({
                url: `${baseUrl}/guilds/ruhuiauitdnotpass/${mobile}/`,
                method: 'get'
            }).then(res => {
                this.$message({
                    message: '操作成功！',
                    type: 'success'
                });  
                this.getInviteMember();
            });
        }
    }
}
</script>
