<template>
    <el-container>
        <el-main>
            <noSociaty v-if="userStatus == 1"></noSociaty>
            <checkSociaty v-else-if="userStatus == 2" :guildName="guild_name" @load="load"></checkSociaty>

            <template v-else-if="userStatus == 4">
                <div class="warning-container">
                    <div class="warning-title"><i class="el-icon-warning"></i>&nbsp;&nbsp;您创建的公会正在等待审核,目前不能加入任何公会！</div>
                </div>
            </template>
            <template v-else-if="userStatus == 5">
                <div class="warning-container">
                    <div class="warning-title"><i class="el-icon-warning"></i>&nbsp;&nbsp;审核未通过！</div>
                </div>
            </template>
            <template v-else>
                <admin @load="load"></admin>
            </template>
        </el-main>
        <el-aside v-if="userStatus == 3 || userStatus == 6 || userStatus == 7 || userStatus == 8" width="350px" style="padding: 20px;">
            <notice :userStatus="userStatus"></notice>
        </el-aside>
    </el-container>
</template>
<script>
    import noSociaty from './components/noSociaty';
    import checkSociaty from './components/checkSociaty';
    import admin from './components/admin';
    import notice from './components/notice'
    import { parseTime } from '@/utils';
    export default {
        name: 'sociatyInfo',
        components: {
            noSociaty,
            checkSociaty,
            admin,
            notice
        },
        data() {
            return {
                userStatus: '',
                guild_name: ''
            }
        },
        watch: {
            $route() {
                //跳转到该页面后需要进行的操作
                this.load();
            }
        },
        created() {
            this.load();
        },
        methods: {
            load() {
                this.$store.dispatch('GetMessage').then((res) => {
                    this.userStatus = res.user_status;
                    if (res.guild_name) {
                        this.guild_name = res.guild_name;
                    }
                });
            }
        }
    }
</script>
<style lang="scss">
.el-collapse {
    border: none;
}

.el-collapse-item {
    padding: 10px;
}
</style>