<template>
    <el-container>
        <el-main>
            <el-tabs type="border-card" @tab-click="handleClick">
                <el-tab-pane label="正在进行">
                    <ongoingTask></ongoingTask>
                </el-tab-pane>
                <el-tab-pane label="已完成任务">
                    <finishedTask></finishedTask>
                </el-tab-pane>
            </el-tabs>
        </el-main>
    </el-container>
</template>
<script>
    import ongoingTask from './components/ongoingTask'
    import finishedTask from './components/finishedTask'
    export default {
        name: 'sociatyTask',
        components: {
            ongoingTask,
            finishedTask
        },
        data() {
            return {

            }
        },
        mounted() {
            this.getUnderwayList();
        },
        methods: {
            getUnderwayList() {
                this.$store.dispatch('GetListUnderway')
            },
            getFinishedList() {
                this.$store.dispatch('GetListFinished')
            },
            handleClick(tab, event) {
                let index = tab.index;
                switch (index) {
                    case '0':
                        this.$store.commit('SET_SPAGE', 1);
                        this.getUnderwayList();
                        break;
                    case '1':
                        this.$store.commit('SET_SPAGE', 1);
                        this.getFinishedList();
                        break;
                }
            }
        }
    }
</script>
<style lang="scss" scoped>
    
</style>