<template>
    <el-container>
        <el-main>
            <!--工具条-->
		<!-- <el-col :span="24"> -->
			<el-form :inline="true" :model="filters" @submit.native.prevent>
				<el-form-item>
					<el-input v-model="filters.username" placeholder="请输入会员姓名"></el-input>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="onSearch()">搜索</el-button>
				</el-form-item>
			</el-form>
		<!-- </el-col> -->
            <el-table :data="memberData">
                <el-table-column property="username" label="成员名称"></el-table-column>
                <el-table-column property="identity" label="职位" width="150px">
                    <template slot-scope="scope">
                        {{identities[scope.row.identity]}}
                    </template>
                </el-table-column>
                <el-table-column label="权限管理">
                    <template slot-scope="scope">
                    <el-row :gutter="20">
                    <el-col :span="12">
                        <el-button type="primary" size="mini" @click="adminSet(scope.row.mobile)">
                        {{scope.row.identity == 1? '取消管理员': '设为管理员'}}
                        </el-button>
                    </el-col>
                    <el-col :span="12">
                        <el-button type="warning" size="mini" @click="verifySet(scope.row.mobile)">
                        {{scope.row.identity == 2? '取消审核员': '设为审核员'}}
                        </el-button>
                    </el-col>
                    </el-row>
              </template>
                </el-table-column>
                <el-table-column label="移除成员" width="150px">
                    <template slot-scope="scope">
                        <el-popconfirm title="确定移除成员？" @onConfirm="removeMember(scope.row.mobile)">
                            <el-button type="danger" size="mini" slot="reference">移除</el-button>
                        </el-popconfirm>  
                    </template>
                </el-table-column>
            </el-table>
            <div class="page-container">
                <el-pagination background @current-change="handleCurrentChange" :current-page="pageQuery.page" :page-size="pageQuery.pageSize" layout="prev, pager, next" :total="total">
                </el-pagination>
            </div>
        </el-main>
    </el-container>
</template>
<script>
import request from '@/utils/request'
import {
    baseUrl
} from "@/config/env";
import { mapGetters } from 'vuex';
let searchFlag = false;
export default {
    name: 'sociatyMember',
    data() {
        return {
            memberData: [],
            filters: {
                username: '',  //按姓名搜索
            },
            pageQuery: {
                page: 1,
                page_size: 8,
            },    
            total: 0
        }
    },
    computed: {
        ...mapGetters(['identities'])
    },
    created() {
        this.getMembers();
    },
    methods: {
        handleCurrentChange(val) {   
            this.$set(this.pageQuery, 'page', val);
            if(searchFlag) {
                this.searchMembers();
            } else {
                this.getMembers()
            } 
        },
        onSearch() {
            // 给page重新赋值
            this.$set(this.pageQuery, 'page', 1);
            this.searchMembers();
        },
        searchMembers() {
            searchFlag = true;
            request({
                url: `${baseUrl}/guilds/n_search/`,
                method: 'get',
                params: {
                    username: this.filters.username,
                    ...this.pageQuery                  
                }
            }).then(res => {
                this.memberData = res.results;
                this.total = res.count;
            });
        },
        // 获取成员列表
        getMembers() {
            request({
                url: `${baseUrl}/guilds/chengyuanmanagement/`,
                method: 'get',
                params: {
                   ...this.pageQuery
                }
            }).then(res => {
                this.memberData = res.results;
                this.total = res.count;
            });
        },
        adminSet(mobile) {
            request({
                url: `${baseUrl}/guilds/leader_set/${mobile}/`,
                method: 'get'
            }).then(res => {
                this.$message({
                    message: '操作成功！',
                    type: 'success'
                });  
                this.getMembers();
            });
        },
        verifySet(mobile) {
            request({
                url: `${baseUrl}/guilds/guild_auitd_set/${mobile}/`,
                method: 'get'
            }).then(res => {
                this.$message({
                    message: '操作成功！',
                    type: 'success'
                });  
                this.getMembers();
            });
        },
        removeMember(mobile) {
            request({
                url: `${baseUrl}/guilds/chengyuanremove/${mobile}/`,
                method: 'get'
            }).then(res => {
                this.$message({
                    message: '操作成功！',
                    type: 'success'
                });  
                this.getMembers();
            });
        }
    },   
}
</script>